//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhZTdiYzI3Ni00OWI4LTZiMDItYWZkNi00ZTg4MWQwYmMyYzciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYWZlOTcxZjItOTQ2NS00MzBlLWIwZTYtNjlmOTY4MWY2MTNhIiwic2lkIjoiNjFhMTM2MTAtOTkyMy00NGRlLThhNWItYTRhZDNjZDFlOWI4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmU4OTkwMjgzLWRiNjctNDZhNS1iM2FlLTUwOTU5MmFlNzg3YiIsIm5iZiI6MTU0OTUzMjE0OCwiZXhwIjoxNTU3MzA4NzQ4fQ.EPXNEQ0tEGeF6b8DzU4QW5mXQNxPMk1ku-KapywoGQDMwx5BgtwSK406EAno5-tbL-03HmfFAJmtQfMj1fgo-7kCSkk4Q3fJExV-MHk79ug7rj0wdnAwqnBlRidTpr-Mh0h9yH-JLwZK2VCW9YQ-vppOq1A0C3VvIS-7kAUEQAnP_y0jBS15IcurJ_7eOVxuIXQnbSOyg8OtGqOpJqqqI-YKyIxArJAZOffwfwDU9x7VdwjpxT8dIBFZlHyMHkr4JTjmX3pPJk5Gt3XGUjymObjdwA7kF2t63AvzJz6wiz0CCCPIg2HXnL7zqRYj5lR_Tgswl-3AcR2ARAAzjxpxsw
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhZTdiYzI3Ni00OWI4LTZiMDItYWZkNi00ZTg4MWQwYmMyYzciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYWZlOTcxZjItOTQ2NS00MzBlLWIwZTYtNjlmOTY4MWY2MTNhIiwic2lkIjoiNjFhMTM2MTAtOTkyMy00NGRlLThhNWItYTRhZDNjZDFlOWI4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmU4OTkwMjgzLWRiNjctNDZhNS1iM2FlLTUwOTU5MmFlNzg3YiIsIm5iZiI6MTU0OTUzMjE0OCwiZXhwIjoxNTU3MzA4NzQ4fQ.EPXNEQ0tEGeF6b8DzU4QW5mXQNxPMk1ku-KapywoGQDMwx5BgtwSK406EAno5-tbL-03HmfFAJmtQfMj1fgo-7kCSkk4Q3fJExV-MHk79ug7rj0wdnAwqnBlRidTpr-Mh0h9yH-JLwZK2VCW9YQ-vppOq1A0C3VvIS-7kAUEQAnP_y0jBS15IcurJ_7eOVxuIXQnbSOyg8OtGqOpJqqqI-YKyIxArJAZOffwfwDU9x7VdwjpxT8dIBFZlHyMHkr4JTjmX3pPJk5Gt3XGUjymObjdwA7kF2t63AvzJz6wiz0CCCPIg2HXnL7zqRYj5lR_Tgswl-3AcR2ARAAzjxpxsw
registry=https://uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/