$mat-paginator-padding: 0 8px;
$mat-paginator-page-size-margin-right: 8px;
$mat-paginator-range-label-margin-right: 8px;

$mat-paginator-items-per-page-label-margin: 0 4px;
$mat-paginator-selector-margin: 6px 4px 0 4px;
$mat-paginator-selector-trigger-width: 56px;
$mat-paginator-selector-trigger-outline-width: 64px;
$mat-paginator-selector-trigger-fill-width: 64px;

$mat-paginator-index-selector-width: 48px;

$mat-paginator-page-label-margin: 0 32px 0 24px;
$mat-paginator-button-icon-size: 14px;
$mat-paginator-button-size: 32px;

ui-grid-custom-paginator {
    .mat-mdc-icon-button {
        width: $mat-paginator-button-size;
        height: $mat-paginator-button-size;
        line-height: unset;
    }

    .mat-mdc-paginator {
        display: block;
    }

    // Note: this wrapper element is only used to get the flexbox vertical centering to work
    // with the `min-height` on IE11. It can be removed if we drop support for IE.
    .mat-mdc-paginator-outer-container {
        display: flex;
        font-size: 14px;
    }

    .mat-mdc-paginator-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        padding: $mat-paginator-padding;
        width: 100%;

        container: footerContainer / inline-size;
    }

    .mat-mdc-paginator-page-size {
        display: flex;
        align-items: baseline;
        margin-right: $mat-paginator-page-size-margin-right;
        margin [dir="rtl"] & {
            margin-right: 0;
            margin-left: $mat-paginator-page-size-margin-right;
        }
    }

    .mat-mdc-paginator-page-size-label {
        margin: $mat-paginator-items-per-page-label-margin;
    }

    .mat-mdc-paginator-page-size-select {
        margin: $mat-paginator-selector-margin;
        width: $mat-paginator-selector-trigger-width;

        &.mat-form-field-appearance-outline {
            width: $mat-paginator-selector-trigger-outline-width;
        }

        &.mat-form-field-appearance-fill {
            width: $mat-paginator-selector-trigger-fill-width;
        }
    }
    .mat-mdc-paginator-range-actions .mat-mdc-paginator-page-label {
        margin: $mat-paginator-page-label-margin;
        min-width: 7em;
        text-align: center;
    }

    .mat-mdc-paginator-range-label {
        margin-left: $mat-paginator-range-label-margin-right;
        min-width: 7em;
    }

    .mat-mdc-paginator-range-actions {
        display: flex;
        align-items: center;
    }

    .mat-mdc-paginator-icon {
        width: $mat-paginator-button-icon-size;
        height: $mat-paginator-button-icon-size;
        fill: currentColor;

        [dir="rtl"] & {
            transform: rotate(180deg);
        }
    }
}

// the layout breaks at screen widths below 600 pixels
@container footerContainer (max-width: 600px) {
    ui-grid-custom-paginator  {
        .mat-mdc-paginator-range-label {
            order: 1;
        }

        .mat-mdc-paginator-range-actions {
            order: 3;
            inline-size: 100%;
            justify-content: center;
        }

        .mat-mdc-paginator-page-size {
            order: 2;
        }
    }
}
