@import "./components/ui-grid-search/ui-grid-search.theme";

/* https://github.com/angular/material2/blob/master/src/lib/button/_button-base.scss */
$ui-grid-default-transition: 200ms cubic-bezier(0.35, 0, 0.25, 1);
$ui-grid-background-transition: background-color $ui-grid-default-transition;
$ui-grid-opacity-transition: opacity $ui-grid-default-transition;

%resize-handle-default {
    opacity: 0;
}

%resize-handle-hover {
    opacity: 0.4;
}

%resize-handle-resizing {
    opacity: 1;
}

@mixin ui-grid-theme($theme) {
    $is-dark: map-get($theme, "is-dark");
    $foreground: map-get($theme, "foreground");
    $background: map-get($theme, "background");
    $accent-palette: map-get($theme, "accent");

    $primary-palette: map-get($theme, "primary");
    $primary-color: map-get($primary-palette, "default");
    $ui-grid-resize-hover-color: $primary-color;
    $ui-grid-resize-focus-color: $primary-color;
    $ui-grid-resize-handle-hover-delay: 200ms;

    $ui-grid-primary-text-color: map-get($foreground, "text");
    $ui-grid-secondary-text-color: map-get($foreground, "secondary-text");

    $ui-grid-accent-color: map-get($accent-palette, "default");

    $ui-grid-background: map-get($background, "card");
    $ui-grid-border-color: mat.get-color-from-palette($foreground, "divider");
    $ui-grid-elevation-color: rgb(0, 0, 0);

    $_hover-base: mix($ui-grid-background, invert($ui-grid-background), 97%);

    $ui-grid-hover-background: mix($_hover-base, map-get($accent-palette, "default"), if($is-dark, 97, 95));

    ui-grid {
        &.ui-grid-elevation-z0 {
            box-shadow: none;
        }

        @for $i from 1 through 24 {
            &.ui-grid-elevation-z#{$i} {
                .ui-grid-container {
                    @include mat.elevation($i, $ui-grid-elevation-color, 0.5);
                }
            }
        }

        &:not([class*="ui-grid-elevation-z"]) {
            .ui-grid-container {
                @include mat.elevation(4, $ui-grid-elevation-color, 0.5);
            }
        }

        &.ui-grid-state-loading {
            .ui-grid-row,
            .ui-grid-card-wrapper {
                pointer-events: none;
                opacity: 0.5;
            }
        }

        &.ui-grid-state-resizing {
            .ui-grid-resize-handle:not(.ui-grid-state-resizing) {
                @extend %resize-handle-default;
            }
        }

        &.ui-grid-state-projected {
            .ui-grid-row {
                &:hover,
                &:focus,
                &.cdk-focused {
                    &:not(.ui-grid-row-state-expanded) {
                        background-color: inherit;
                    }

                    outline: none;
                }
            }
        }

        .ui-grid {
            &-container {
                background: $ui-grid-background;
            }

            &-container mat-paginator.mat-mdc-paginator {
                background: transparent;
            }

            &-primary {
                color: $ui-grid-primary-text-color;
            }

            &-secondary {
                color: $ui-grid-secondary-text-color;
            }

            &-header-title {
                &-filtered {
                    color: $ui-grid-accent-color;
                }
            }

            &-cell,
            &-header-cell {
                background-color: transparent;
                transition: $ui-grid-background-transition;
            }

            &-resize-handle {
                &.ui-grid-state-resizing {
                    background: $ui-grid-resize-hover-color;
                }

                @extend %resize-handle-default;
                background: $ui-grid-resize-hover-color;
                transition: $ui-grid-opacity-transition;

                &:hover {
                    @extend %resize-handle-hover;
                }
            }

            &-cell-resizing-border {
                transition: $ui-grid-opacity-transition;
                background: $ui-grid-resize-hover-color;
                opacity: 0;

                &.ui-grid-state-resizing {
                    opacity: 1;
                    background: $ui-grid-resize-hover-color;
                }
            }

            &-header-cell:not(.ui-grid-feature-cell):focus,
            &-header-cell.ui-grid-state-resizing {
                background-color: rgba($ui-grid-hover-background, 0.5);
                outline: none;
            }

            &-state-resizing {
                background-color: $ui-grid-hover-background;
                outline: none;
            }

            &-header-cell {
                &:hover {
                    + .ui-grid-resize-handle {
                        transition-delay: $ui-grid-resize-handle-hover-delay;
                        @extend %resize-handle-hover;
                    }
                }

                &:focus {
                    + .ui-grid-resize-handle {
                        background: $ui-grid-resize-focus-color;
                        @extend %resize-handle-resizing;
                    }
                }
            }

            &-resize-handle {
                &.ui-grid-state-resizing.ui-grid-state-resizing {
                    @extend %resize-handle-resizing;
                }
            }

            &-header-cell.ui-grid-primary {
                color: $ui-grid-primary-text-color;
            }

            &-header-row,
            &-row,
            &-row-state-expanded {
                border-bottom-color: $ui-grid-border-color;
                transition: $ui-grid-opacity-transition;
            }

            &-card-wrapper {
                transition: $ui-grid-opacity-transition;
            }
        }

        .ui-grid-row {
            &:focus,
            &.cdk-focused {
                &:not(.ui-grid-row-state-expanded) {
                    background-color: rgba($ui-grid-hover-background, 0.5);
                }

                outline: none;
            }

            &:hover {
                &:not(.ui-grid-row-state-expanded) {
                    background-color: $ui-grid-hover-background;
                }

                outline: none;
            }
        }

        .ui-grid-sort-icon {
            .path-asc,
            .path-desc {
                transition: $ui-grid-default-transition;
            }
        }

        .ui-grid-info-icon {
            transition: $ui-grid-default-transition;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @include ui-grid-search-theme($theme);
}
