@import "./components/ui-grid-search/ui-grid-search.theme";
@import "./ui-grid-variables";

/* https://github.com/angular/material2/blob/master/src/lib/button/_button-base.scss */
$ui-grid-default-transition: 200ms cubic-bezier(0.35, 0, 0.25, 1);
$ui-grid-opacity-transition: opacity $ui-grid-default-transition;

@mixin ui-grid-theme($theme) {
    $is-dark: map-get($theme, "is-dark");
    $foreground: map-get($theme, "foreground");
    $background: map-get($theme, "background");
    $accent-palette: map-get($theme, "accent");

    $primary-palette: map-get($theme, "primary");
    $primary-color: map-get($primary-palette, "default");
    $ui-grid-resize-hover-color: $primary-color;
    $ui-grid-resize-focus-color: $primary-color;
    $ui-grid-resize-handle-hover-delay: 200ms;

    $ui-grid-primary-text-color: map-get($foreground, "text");
    $ui-grid-secondary-text-color: map-get($foreground, "secondary-text");
    $ui-grid-scrollbar-color: map-get($foreground, "text");

    $ui-grid-accent-color: map-get($accent-palette, "default");

    $ui-grid-background: map-get($background, "card");
    $ui-grid-elevation-color: rgb(0, 0, 0);

    $_hover-base: mix($ui-grid-background, invert($ui-grid-background), 97%);
    $resize-handle-hover-color: mix($ui-grid-resize-hover-color, $ui-grid-background, 40%);
    %resize-handle-default {
        background-color: $header-background-color;
    }

    %resize-handle-hover {
        background-color: $resize-handle-hover-color;
    }

    %resize-handle-focus {
        background-color: $resize-handle-hover-color;
    }

    %resize-handle-resizing {
        background-color: $ui-grid-resize-hover-color;
    }

    ui-grid {
        &.ui-grid-elevation-z0 {
            box-shadow: none;
        }

        @for $i from 1 through 24 {
            &.ui-grid-elevation-z#{$i} {
                .ui-grid-container {
                    @include mat.elevation($i, $ui-grid-elevation-color, 0.5);
                }
            }
        }

        &:not([class*="ui-grid-elevation-z"]) {
            .ui-grid-container {
                @include mat.elevation(4, $ui-grid-elevation-color, 0.5);
            }
        }

        &.ui-grid-state-loading {
            .ui-grid-row,
            .ui-grid-card-wrapper {
                pointer-events: none;
                opacity: 0.5;
            }
        }

        &.ui-grid-state-resizing {
            .ui-grid-resize-handle:not(.ui-grid-state-resizing) {
                @extend %resize-handle-default;
            }
        }

        &.ui-grid-state-projected {
            .ui-grid-row {
                &:hover,
                &:focus,
                &.cdk-focused {
                    &:not(.ui-grid-row-state-expanded) {
                        background-color: inherit;
                    }

                    outline: none;
                }
            }
        }

        .ui-grid-action-cell-container {
            background-color: $ui-grid-cell-background-color;

            &.sticky-grid-action-cell-container {
                opacity: 0;
            }
        }

        .ui-grid {
            &-cell {
                background: $ui-grid-cell-background-color;

                &:hover {
                    background-color: $ui-grid-row-hover-color;
                }
            }

            &-container {
                background: $ui-grid-cell-background-color;
            }

            &-container mat-paginator.mat-mdc-paginator {
                background: transparent;
            }

            &-primary {
                color: $ui-grid-primary-text-color;
            }

            &-secondary {
                color: $ui-grid-secondary-text-color;
            }

            &-header-title {
                &-filtered {
                    color: $ui-grid-accent-color;
                }
            }

            &-sticky-boundary {
                background-color: $ui-grid-border-color;
            }

            &-resize-handle {
                &.ui-grid-state-resizing {
                    background: $ui-grid-resize-hover-color;
                }

                @extend %resize-handle-default;

                &:hover {
                    @extend %resize-handle-hover;
                }
            }

            &-cell-resizing-border {
                opacity: 0;

                &.ui-grid-state-resizing {
                    opacity: 1;
                    background-color: $ui-grid-resize-hover-color;
                }
            }

            &-header-cell:not(.ui-grid-feature-cell):focus,
            &-header-cell.ui-grid-state-resizing {
                background-color: $ui-grid-header-pressed-color;
                outline: none;
            }

            &-header-cell {
                &:hover {
                    .ui-grid-resize-handle-container .ui-grid-resize-handle:not(.ui-grid-state-resizing) {
                        @extend %resize-handle-hover;
                    }
                }

                &:focus {
                    .ui-grid-resize-handle-container .ui-grid-resize-handle:not(.ui-grid-state-resizing) {
                        @extend %resize-handle-focus;
                    }
                }
            }

            &-resize-handle {
                &.ui-grid-state-resizing.ui-grid-state-resizing {
                    @extend %resize-handle-resizing;
                }
            }

            &-header-cell.ui-grid-primary {
                color: $ui-grid-primary-text-color;
            }

            &-header-row,
            &-row,
            &-row-state-expanded {
                border-bottom-color: $ui-grid-border-color;
                transition: $ui-grid-opacity-transition;
            }

            &-card-wrapper {
                transition: $ui-grid-opacity-transition;
            }
        }

        .ui-grid-row {
            &:focus,
            &:hover,
            &.cdk-focused {
                background-color: $ui-grid-row-hover-color;

                .ui-grid-header-cell,
                .ui-grid-cell {
                    background-color: $ui-grid-row-hover-color;
                }

                outline: none;

                .ui-grid-action-cell-container {
                    opacity: 1;
                    background-color: $ui-grid-row-hover-color;
                }
            }
        }

        .ui-grid-sort-icon {
            .path-asc,
            .path-desc {
                transition: $ui-grid-default-transition;
            }
        }

        .ui-grid-info-icon {
            transition: $ui-grid-default-transition;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @include ui-grid-search-theme($theme);
}
