$ui-grid-cell-background-color: var(--color-background, #ffffff);
$ui-grid-border-color: var(--color-border-de-emp, #cfd8dd);
$ui-grid-cell-bottom-border: 1px solid $ui-grid-border-color;
$ui-grid-row-hover-color: var(--color-hover, #e9f1fa);
$header-background-color:  var(--color-background-secondary, #f4f5f7);
$grid-actions-box-shadow: var(--color-background, #ffffff);
$highlighted-entity-color: var(--color-primary, #0067df);
