@use '@angular/material' as mat;

@import "../../styles/ellipse";
@import "./ui-grid-variables";

.preserve-whitespace {
    word-wrap: break-word;
    white-space: pre-line;
    text-align: left;
}

ui-grid {
    --ui-grid-header-row-height: 56px;
    --ui-grid-row-height: 48px;
    --ui-grid-filter-container-min-height: var(--ui-grid-header-row-height);
    --ui-grid-row-horizontal-padding: 24px;
    --ui-feature-cell-width: 50px;
    --ui-row-border-width: 1px;
    --ui-header-resize-handle-width: 18px;
    --ui-handle-size-width: 6px;
    --ui-grid-default-spacing: 5px;
    --ui-border-radius: 4px;
    --ui-grid-button-size: 40px;
    --ui-grid-main-font-size: 13.5px;
    --ui-grid-secondary-font-size: 12px;
    --ui-grid-action-buttons-spacing: 16px;

    &.ui-grid-state-high-density {
        --ui-grid-header-row-height: 40px;
        --ui-grid-row-height: 32px;
        --ui-grid-filter-container-min-height: 48px;
        --ui-grid-foother-height: 32px;
        --ui-grid-button-size: 32px;

        @include mat.checkbox-density(-3);
        @include mat.radio-density(-3);
        @include mat.button-density(-1);
        @include mat.icon-button-density(-5);

        .ui-grid-footer-container .mat-mdc-paginator .mat-mdc-paginator-container {
            min-height: var(--ui-grid-foother-height);
        }

        .ui-grid-filter-container {
            padding: 0;
        }

        .ui-grid-refresh-cell,
        .ui-grid-action-cell {
            mat-icon {
                scale: calc(18 / 24);
            }
        }

        mat-checkbox .mdc-checkbox__background {
            scale: calc(16 / 18);
        }

        mat-radio-button .mdc-radio__background {
            scale: calc(16 / 20);
        }

        [mat-icon-button] .mat-mdc-button-touch-target,
        mat-checkbox .mat-mdc-checkbox-touch-target,
        mat-radio-button .mat-mdc-radio-touch-target {
            display: initial !important;
            width: var(--ui-grid-row-height);
            height: var(--ui-grid-row-height);
        }
    }

    position: relative;
    display: block;

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    &.ui-grid-mode-multi-select {
        .ui-grid-table {
            cdk-virtual-scroll-viewport.ui-grid-viewport {
                min-height: calc(var(--ui-grid-row-height) * 3);
                height: calc(100vh - 300px - #{var(--ui-grid-row-height)});

                .cdk-virtual-scroll-content-wrapper {
                    width: 100%;
                }
            }
        }
    }

    .ui-grid-table {
        cdk-virtual-scroll-viewport.ui-grid-viewport {
            min-height: calc(var(--ui-grid-row-height) * 3);
            height: calc(100vh - 300px);

            .cdk-virtual-scroll-content-wrapper {
                width: 100%;
            }
        }
    }

    .ui-grid-debug-information {
        position: absolute;
        text-align: right;
        bottom: -30px;
        width: 400px;
        right: 0;
    }

    &.ui-grid-state-projected {
        .ui-grid-action-button {
            right: 80px;
        }

        .ui-grid {
            &-table {
                $ui-grid-projected-spacing-lr: 24px;
                $ui-grid-projected-spacing-tb: 8px;

                .ui-grid-cell-mobile-title {
                    width: 115px;
                    display: inline-block;
                    font-weight: bold;
                    text-align: left;
                }

                .ui-grid-header-cell {
                    &:not(.ui-grid-refresh-cell):not(.ui-grid-checkbox-cell):not(.ui-grid-selection-info-container) {
                        display: none;
                    }

                    &.ui-grid-refresh-cell {
                        justify-content: flex-end;
                        margin-right: $ui-grid-projected-spacing-lr;
                    }

                    &.ui-grid-checkbox-cell {
                        overflow: visible;
                        justify-content: flex-start;
                        margin-left: calc($ui-grid-projected-spacing-lr + var(--ui-grid-default-spacing));
                    }
                }

                .ui-grid-row {
                    height: auto;
                    flex-direction: column;
                    align-items: start;
                    padding: $ui-grid-projected-spacing-tb $ui-grid-projected-spacing-lr;
                }

                .ui-grid-cell.ui-grid-mobile-feature-cell {
                    margin-left: var(--ui-grid-default-spacing);
                    overflow: visible;
                    justify-content: flex-start;

                    .ui-grid-mobile-feature-container {
                        margin: 0 var(--ui-grid-default-spacing);

                        &:first-of-type {
                            margin-left: 0;
                        }
                    }
                }

                .ui-grid-cell {
                    justify-content: space-between;
                    padding: 0;
                    width: 100% !important;
                }
            }
        }

        .mat-mdc-paginator-container {
            justify-content: center;
        }
    }

    .mat-mdc-paginator-container {
        padding: 0 var(--ui-grid-default-spacing);
    }

    &.ui-grid-state-resizing {
        .ui-grid-header-row {
            user-select: none;
        }
    }

    .ui-grid {
        &-primary,
        &-header-cell {
            font-weight: 500;
        }

        &-filter-container {
            padding: 0 0 var(--ui-grid-default-spacing) var(--ui-grid-default-spacing);
            min-height: var(--ui-grid-header-row-height);

            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            container: filterContainer / inline-size;
            width: 100%;

            .ui-grid-filter-suggest {
                .display-title {
                    white-space: pre;
                }

                .display-container {
                    display: flex;
                }
            }

            &-lhs-group {
                display: flex;
                flex-direction: column;

                &-actions {
                    min-height: var(--ui-grid-filter-container-min-height);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .ui-grid-action-buttons-selection {
                        display: flex;
                    }
                }

                &-filters {
                    min-height: var(--ui-grid-filter-container-min-height);
                    flex-wrap: wrap;
                    align-items: center;
                    display: flex;
                }
            }

            &-rhs-group {
                min-height: var(--ui-grid-filter-container-min-height);
                display: flex;
                margin-left: auto;
                align-items: center;

                .ui-grid-action-buttons-main {
                    display: flex;
                    gap: var(--ui-grid-action-buttons-spacing);
                }
            }

            ui-suggest {
                .display {
                    &:focus {
                        outline: revert;
                    }
                }
            }
        }

        // single main button on default design
        &-action-button {
            position: absolute;
            right: var(--ui-grid-button-size);
            top: -21px;
            z-index: 2;
        }

        &-action-buttons {
            &-main {
                margin-left: auto;
            }
        }

        &-container {
            border-radius: var(--ui-border-radius);

            .mat-mdc-paginator {
                &-container {
                    min-height: calc(var(--ui-grid-header-row-height) - 1px);
                }

                .mat-mdc-paginator-page-size-label,
                .mat-mdc-paginator-range-label,
                .mat-mdc-select-value {
                    font-size: var(--ui-grid-secondary-font-size);
                    line-height: var(--ui-grid-secondary-font-size);
                }

                .mat-mdc-form-field-infix {
                    padding: 0;

                    .mat-mdc-select {
                        padding: 0.4375em 0;
                    }
                }
            }

            .ui-grid-selection-info {
                &-clear-button {
                    order: 1;
                }
            }

            .ui-grid-row.ui-grid-no-data-container {
                height: calc(4 * var(--ui-grid-row-height));
                align-items: flex-start;

                &.ui-grid-no-content-available {
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }

            .sticky-no-data {
                position: sticky;
                left: 0;
                top: 0;
            }

            ui-grid-custom-paginator {
                .mat-mdc-paginator-page-label {
                    font-size: var(--ui-grid-secondary-font-size);
                }

                .mat-mdc-paginator-page-size .mat-mdc-form-field {
                    padding: unset;
                    margin: unset;

                    .mat-mdc-select {
                        padding: 0.4375em 0;
                    }
                }
            }
        }

        &-no-data-container {
            padding: var(--ui-grid-default-spacing);

            mat-icon {
                font-size: 32px;
                width: 32px;
                height: 32px;
                margin-left: var(--ui-grid-default-spacing);
            }

            p {
                margin-left: var(--ui-grid-default-spacing);
            }
        }

        &-table-container {
            position: relative;
            overflow: hidden;

            &.scrollable {
                overflow-x: auto;
                overflow-y: hidden;
                overflow: unset;

                .ui-grid-no-data-container p {
                    position: sticky;
                    left: calc(2 * var(--ui-grid-default-spacing));
                }
            }
        }

        &-selection-info-container {
            &-alternate {
                min-height: var(--ui-grid-button-size);
                padding: var(--ui-grid-default-spacing) 0;
                display: flex;
                align-items: center;

                .ui-grid-selection {
                    &-clear-button {
                        order: 1;
                    }
                }
            }

            button.mat-mdc-icon-button,
            .ui-grid-selection-info-icon {
                margin-left: 5px;
            }

            .ui-grid-selection-info-message {
                margin-left: calc(var(--ui-grid-default-spacing) * 2);
            }

            .ui-grid-selection-info-icon {
                // simulate same size as button
                outline: none;
                padding: 8px;
            }

            &.ui-grid-header-cell {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: row-reverse;
                margin-right: calc(var(--ui-grid-button-size) + var(--ui-grid-row-horizontal-padding));
            }
        }

        &-resize-handle {
            cursor: col-resize;
        }

        &-filter-option {
            margin-right: calc(var(--ui-grid-default-spacing) * 2);

            &.ui-grid-search {
                $search-padding: var(--ui-grid-default-spacing);
                bottom: $search-padding;
                position: relative;
                height: calc(var(--ui-grid-header-row-height) - $search-padding - 1px);
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &-table {
            display: block;

            .ui-grid-header-title {
                width: 100%;
                height: 100%;
                display: inline-flex;
                align-items: center;
                position: relative;

                p {
                    @extend %ellipse;
                }

                .ui-grid-header-text {
                    cursor: default;
                }
            }

            .ui-grid-cell-content {
                width: 100%;

                @extend %ellipse;

                > * {
                    @extend %ellipse;
                }
            }

            .ui-grid-header-row {
                font-size: var(--ui-grid-secondary-font-size);
                line-height: var(--ui-grid-secondary-font-size);
                text-transform: uppercase;
                height: var(--ui-grid-header-row-height);
                position: relative;
                overflow: clip;

                :first-child.sticky-columns-header-container {
                    padding-left: 0;

                    .ui-grid-header-cell[role="columnheader"] {
                        padding-left: var(--ui-grid-row-horizontal-padding);
                    }
                }

                .sticky-columns-header-container {
                    position: sticky;
                    z-index: 1;
                    height: 100%;
                    display: flex;
                    overflow: hidden;

                    .ui-grid-header-cell[role="columnheader"] {
                        padding: 0 0 0 var(--ui-grid-default-spacing);
                    }
                }
            }

            mat-progress-bar.ui-grid-loader {
                z-index: 2;
                position: relative;
                margin-bottom: -4px !important;
            }

            .ui-grid-header {
                position: sticky;
                top: 0;
                background-color: $header-background-color;

                .ui-grid-resize-handle-container {
                    background-color: transparent;
                }

                .ui-grid-header-cell {
                    background-color: $header-background-color;

                    &.ui-grid-state-resizing,
                    &:focus,
                    &.cdk-focused {
                        background-color: $ui-grid-header-pressed-color;
                    }
                }
            }

            .ui-grid-expanded-row-container {
                width: 100%;
                height: 100%;
                padding: var(--ui-grid-default-spacing);
                box-sizing: border-box;
            }

            .ui-grid-row {
                height: var(--ui-grid-row-height);
                font-size: var(--ui-grid-main-font-size);

                &.ui-grid-row-state-expanded {
                    height: auto;
                }

                &:hover,
                &:focus,
                &.cdk-focused {
                    .ui-grid-action-cell {
                        > div:has(button) {
                            box-shadow: -16px 0px 16px -4px $ui-grid-row-hover-color;
                        }
                    }
                }

                :first-child.sticky-columns-cell-container {
                    padding-left: 0;

                    .ui-grid-cell {
                        padding-left: var(--ui-grid-row-horizontal-padding);
                    }
                }

                &.highlighted-row {
                    .ui-grid-action-cell-container {
                        background-color: $ui-grid-row-hover-color;
                        opacity: 1;
                    }

                    .ui-grid-cell,
                    .ui-grid-cell-resizing-border-container {
                        background-color: $ui-grid-row-hover-color;
                    }

                    > div.ui-grid-cell:first-of-type {
                        box-shadow: inset 4px 0px 0px $highlighted-entity-color;
                    }
                }

                .invisible-refresh {
                    display: none;
                }
            }

            .ui-grid-header-row,
            .ui-grid-row,
            .ui-grid-row-state-expanded {
                display: flex;
                align-items: center;
                border-width: 0;
                box-sizing: border-box;

                &:not(.ui-grid-border-none) {
                    border-style: solid;
                    border-bottom-width: 1px;
                }
            }

            .ui-grid-header-row:not(.ui-grid-border-none) {
                border-bottom: $ui-grid-cell-bottom-border;
            }

            &:not(.ui-grid-table-refreshable) {
                .ui-grid-action-cell {
                    min-width: var(--ui-feature-cell-width);
                }
            }

            .ui-grid-resize-handle-container {
                position: relative;
                flex: 0 0 var(--ui-header-resize-handle-width);
                height: calc(var(--ui-grid-header-row-height) + 1px);

                &.last-sticky-handle-container {
                    flex: 0 0 var(--ui-header-resize-handle-width);
                }

                .ui-grid-resize-handle {
                    position: absolute;
                    top: 0;
                    width: var(--ui-header-resize-handle-width);
                    height: calc(var(--ui-grid-header-row-height) + 1px);
                }
            }

            .ui-grid-cell-resizing-border-container {
                position: relative;
                height: calc(var(--ui-grid-row-height) + var(--ui-row-border-width));

                .ui-grid-cell-resizing-border {
                    width: var(--ui-header-resize-handle-width);
                    height: var(--ui-grid-row-height);
                }
            }

            .ui-grid-header-cell {
                &.ui-grid-spacer-cell {
                    min-width: var(--ui-feature-cell-width);
                }
            }

            .sticky-container-border-right {
                border-right: 1px solid $ui-grid-border-color;
            }

            .ui-grid-header-cell:not(.ui-grid-checkbox-cell, .ui-grid-refresh-cell) {
                position: relative;
            }

            .ui-grid-resize-handle-container {
                position: absolute;
                right: 0;
                top: 0;
                width: var(--ui-header-resize-handle-width);
                padding-left: calc(var(--ui-header-resize-handle-width) - var(--ui-handle-size-width));
                box-sizing: border-box;
                left: unset !important;
                background-color: transparent;

                cursor: col-resize;

                .ui-grid-resize-handle {
                    width: var(--ui-handle-size-width);
                }
            }

            .ui-grid-cell-resizing-border-container {
                position: relative;
                width: var(--ui-header-resize-handle-width);
                padding-left: calc(var(--ui-header-resize-handle-width) - (var(--ui-handle-size-width) / 2));
                box-sizing: border-box;
                background-color: transparent;

                .ui-grid-cell-resizing-border {
                    width: calc(var(--ui-handle-size-width) / 2);
                    min-width: calc(var(--ui-handle-size-width) / 2);
                }
            }

            .ui-grid-cell,
            .ui-grid-header-cell {
                flex: 1;
                flex-basis: auto;
                display: flex;
                align-items: center;
                overflow: hidden;
                word-wrap: break-word;

                &:not(.ui-grid-feature-cell):not(:first-child, .sticky-columns-cell-container) {
                    box-sizing: border-box;
                    padding: 0 0 0 var(--ui-grid-default-spacing);
                }

                &:not(.ui-grid-feature-cell, .sticky-columns-cell-container):first-of-type {
                    padding-left: var(--ui-grid-row-horizontal-padding);

                    [dir="rtl"] & {
                        padding-left: 0;
                        padding-right: var(--ui-grid-row-horizontal-padding);
                    }
                }

                &:not(.ui-grid-feature-cell):last-of-type {
                    padding-right: var(--ui-grid-row-horizontal-padding);

                    [dir="rtl"] & {
                        padding-right: 0;
                        padding-left: var(--ui-grid-row-horizontal-padding);
                    }
                }

                &.ui-grid-refresh-cell,
                &.ui-grid-checkbox-cell {
                    min-width: var(--ui-feature-cell-width);
                    justify-content: center;
                    box-sizing: border-box;
                }

                &.ui-grid-refresh-cell {
                    position: sticky;
                    right: 0;

                    &.refresh-shadow {
                        box-shadow: -16px 0px 16px -4px $ui-grid-row-hover-color;
                    }
                }

                &.ui-grid-action-cell {
                    position: relative;
                    width: 0;
                    padding: 0;
                    overflow: visible;

                    &.ui-grid-sticky-element {
                        right: 0;
                        position: sticky;
                    }

                    > div {
                        display: inline-flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: absolute;
                        height: calc(var(--ui-grid-row-height) - var(--ui-row-border-width));
                        min-width: var(--ui-feature-cell-width);
                        padding-right: var(--ui-grid-default-spacing);
                        right: 0;
                        bottom: 0;
                    }
                }
            }

            .ui-grid-sticky-element {
                position: sticky;
                left: 0;
                z-index: 1;
            }

            .sticky-refresh {
                position: sticky;
                right: 0;
                z-index: 1;
            }

            .ui-grid-sort {
                &-indicator {
                    height: calc(var(--ui-grid-header-row-height) - var(--ui-row-border-width));
                    align-items: center;
                    display: flex;

                    //sorted asc
                    &-asc {
                        // desc path
                        .path-desc {
                            opacity: 0;
                        }
                    }

                    &-desc {
                        //sorted desc
                        .path-asc {
                            // asc path
                            opacity: 0;
                        }
                    }
                }
            }

            .ui-grid-header-cell,
            .ui-grid-cell,
            .sticky-columns-header-container,
            .sticky-columns-cell-container {
                box-sizing: border-box;
            }

            .ui-grid-header-cell {
                height: calc(var(--ui-grid-header-row-height) - var(--ui-row-border-width));
            }

            .ui-grid-cell {
                height: calc(var(--ui-grid-row-height) - var(--ui-row-border-width));
                background: $ui-grid-cell-background-color;
            }

            .sticky-columns-cell-container.ui-grid-cell {
                position: sticky;
                z-index: 10;
                padding-left: 0px;
                display: flex;
                height: calc(var(--ui-grid-row-height) - 1px);

                .ui-grid-cell {
                    padding: 0 0 0 var(--ui-grid-default-spacing);
                }
            }

            .ui-grid-header-cell-sortable {
                cursor: pointer;
            }

            .ui-grid-cards-container {
                margin: 16px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                @supports (display: grid) {
                    display: grid;
                    grid-column-gap: 12px;
                    grid-row-gap: 16px;
                    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                }
            }

            .ui-grid-card-default {
                border-radius: 5px;
                background: #ffffff;
                border: 1px solid #cfd8dd;
                color: #273139;
                padding: 16px;
            }

            .ui-grid-card-default-cell-content {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}

// the layout breaks at screen widths below 500 pixels
@container filterContainer (max-inline-size: 500px) {
    $column-filter-inline-size: 94px;
    .ui-grid-search {
        inline-size: calc(100% - $column-filter-inline-size) !important;
    }

    .ui-grid-filter-container .mat-mdc-form-field {
        inline-size: 100% !important;
    }

    .ui-grid-toggle-columns .mdc-button__label{
        display: none;
    }

    .ui-grid-filter-container-lhs-group-actions {
        .mat-divider {
            display: none;
        }
    }
}

.ui-grid-sticky-footer-container {
    position: sticky;
    bottom: 0;
    background: $ui-grid-cell-background-color;
    z-index: 111;
}

.ui-grid-footer-placeholder {
    height: 1px;
    margin: -1px;
    width: 100%;
}

.scrollbar-div {
    height: 17px;
    overflow: auto;
}


ui-grid {
    margin-bottom:2222px;
}

.last-div {
    // background-color: blue;
    // height: 10px;
    // width: 100%;
    // position: sticky;
}


mat-sidenav-content, mat-sidenav, mat-sidenav-container {
    overflow: unset !important;
}
