<ng-container *ngIf="showPaintTime && (paintTime$ | async) as paintTime">
    <div class="ui-grid-debug-information">
        Painted {{ dataManager.length }} rows in {{ paintTime }}ms
    </div>
</ng-container>
<div *ngIf="toggleColumns ||
                header?.mainButtons?.length ||
                header?.actionButtons?.length ||
                header?.inlineButtons?.length ||
                header?.search ||
                (isAnyFilterDefined$ | async)"
     class="ui-grid-filter-container">
    <div class="ui-grid-filter-container-lhs-group">
        <div class="ui-grid-filter-container-lhs-group-actions">
            <ng-container *ngIf="filterManager.hasCustomFilter$ | async; else noCustomFilter">
                <ng-container *ngTemplateOutlet="toggleColumnsTmpl"></ng-container>
                <button *ngIf="!(hasSelection$ | async)"
                        (click)="clearCustomFilter()"
                        mat-flat-button
                        type="button"
                        data-cy="clear-custom-filter">
                    {{ intl.clearCustomFilter }}
                </button>
            </ng-container>
            <ng-template #noCustomFilter>
                <ng-container>
                    <ng-container *ngIf="!(hasSelection$ | async) ||
                                !header?.actionButtons?.length">
                        <ui-grid-search *ngIf="header?.search"
                                        [debounce]="header!.searchDebounce"
                                        [maxLength]="header!.searchMaxLength"
                                        [placeholder]="intl.searchPlaceholder"
                                        [searchTooltip]="intl.searchTooltip"
                                        [clearTooltip]="intl.clearTooltip"
                                        [tooltipDisabled]="resizeManager.isResizing"
                                        [value]="header!.searchValue!"
                                        (searchChange)="filterManager.searchChange($event, header!, footer)"
                                        class="ui-grid-search ui-grid-filter-option">
                        </ui-grid-search>

                        <ng-container *ngTemplateOutlet="toggleColumnsTmpl"></ng-container>

                        <ng-container *ngTemplateOutlet="filtersTmpl">
                        </ng-container>
                    </ng-container>

                    <div *ngIf="!(hasSelection$ | async)"
                         class="ui-grid-action-buttons ui-grid-action-buttons-inline">
                        <ng-container *ngFor="let button of header?.inlineButtons">
                            <ng-container *ngIf="button.visible">
                                <ng-container *ngTemplateOutlet="button.html ?? null">
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                </ng-template>

            <div #gridActionButtons
                 *ngIf="hasSelection$ | async"
                 class="ui-grid-action-buttons ui-grid-action-buttons-selection">
                <ng-container *ngFor="let button of header?.actionButtons">
                    <ng-container *ngIf="button.visible">
                        <ng-container *ngTemplateOutlet="button.html?? null">
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div *ngIf="showFilters &&
                (hasAnyFiltersVisible$ | async) &&
                (filterManager.hasCustomFilter$ | async) === false &&
                !(hasSelection$ | async)"
             [@filters-container]
             class="ui-grid-filter-container-lhs-group-filters">
            <ng-container *ngTemplateOutlet="inlineFiltersTmpl"></ng-container>
        </div>
    </div>

    <div class="ui-grid-filter-container-rhs-group"
         *ngLet="(hasSelection$ | async) as hasSelections">
        <div class="ui-grid-action-buttons ui-grid-action-buttons-main">
            <ng-container *ngFor="let button of header?.mainButtons">
                <ng-container *ngIf="button.visible">
                    <ng-container *ngTemplateOutlet="button.html ?? null">
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-container *ngIf="multiPageSelect then multiPageSelectionRow">
</ng-container>

<div (keydown.shift.alt.arrowup)="focusRowHeader()"
     class="ui-grid-container">

    <div [class.scrollable]="isScrollable && !dataManager.pristine"
         class="ui-grid-table-container">
        <div [class.ui-grid-table-refreshable]="refreshable"
             [style.minWidth.px]="isScrollable ? (minWidth$ | async) : undefined"
             [style.overflow]="isScrollable ? (tableOverflowStyle$ | async) : 'visible'"
             class="ui-grid-table"
             role="grid">
            <mat-progress-bar *ngIf="loading && !loadingState"
                              mode="query"
                              class="ui-grid-loader">
            </mat-progress-bar>
            <div class="ui-grid-header">
                <div *ngIf="showHeaderRow"
                     class="ui-grid-header-row"
                     role="row">
                    <div *ngIf="selectable && !singleSelectable"
                         [class.ui-grid-sticky-element]="isScrollable"
                         class="ui-grid-header-cell ui-grid-checkbox-cell ui-grid-feature-cell"
                         role="columnheader">
                        <mat-checkbox #selectAvailableRowsCheckbox
                                      (change)="$event && toggle($event)"
                                      (indeterminateChange)="checkIndeterminateState($event)"
                                      [disabled]="!dataManager.length"
                                      [checked]="isEveryVisibleRowChecked"
                                      [indeterminate]="hasValueOnVisiblePage && !isEveryVisibleRowChecked"
                                      [matTooltip]="checkboxTooltip()"
                                      [aria-label]="checkboxTooltip()"
                                      tabindex="0">
                        </mat-checkbox>
                    </div>

                    <div *ngIf="singleSelectable"
                         class="ui-grid-header-cell ui-grid-spacer-cell ui-grid-feature-cell">
                    </div>

                    <ng-container *ngIf="multiPageSelect then multiPageSelectionProjectedHeaderCell">
                    </ng-container>

                    <ng-container *ngLet="partitionedVisibleColumns$ | async as columns">
                        <div *ngIf="columns.stickyColumns.length"
                             [style.left.px]="(selectable || singleSelectable) ? selectionColumnWidth : 0"
                             [class.sticky-container-border-right]="(isOverflown$ | async) && columns.freeColumns.length"
                             [style.minWidth.px]="stickyColumnsSum$ | async"
                             class="sticky-columns-header-container">
                            <ng-container *ngFor="let column of columns.stickyColumns; let last = last; let columnIndex = index">
                                <div *ngLet="(column.widthPx$ | async) as widthPx"
                                     [class.ui-grid-header-cell-sortable]="column.sortable"
                                     [class.ui-grid-resizeable]="column.resizeable"
                                     [class.ui-grid-state-resizing]="column === resizeManager.current?.column"
                                     [attr.aria-sort]="column.ariaSort"
                                     [attr.data-property]="column.property"
                                     [attr.data-identifier]="column.identifier"
                                     [style.width]="widthPx ? (widthPx + 'px') : (column.width + '%')"
                                     [style.minWidth.px]="widthPx"
                                     (cdkFocusChange)="triggerColumnHeaderTooltip($event, columnTooltip)"
                                     (focusout)="hideColumnHeaderTooltip(columnTooltip)"
                                     (keyup.enter)="sortManager.changeSort(column)"
                                     (keyup.space)="sortManager.changeSort(column)"
                                     (keydown.ArrowLeft)="(!last || isScrollable) && columns.freeColumns.length && resizeManager.startKeyboardResize('left', column, columnIndex); $event.preventDefault()"
                                     (keydown.ArrowRight)="(!last || isScrollable) && columns.freeColumns.length && resizeManager.startKeyboardResize('right', column, columnIndex); $event.preventDefault()"
                                     cdkMonitorElementFocus
                                     class="ui-grid-header-cell ui-grid-sticky-element"
                                     role="columnheader"
                                     tabindex="0">
                                    <div (click)="sortManager.changeSort(column)"
                                         class="ui-grid-header-title">
                                        <p #columnTooltip="matTooltip"
                                           [class.ui-grid-header-title-filtered]="isFilterApplied(column)"
                                           [matTooltip]="column.title + (focusedColumnHeader ? ('\n' + column.description) : '')"
                                           [matTooltipDisabled]="resizeManager.isResizing"
                                           [attr.aria-label]="column.title + (column.description ? ('. ' + column.description) : '') + (column.sortable && intl.sortableMessage ? '. ' + intl.sortableMessage : '')"
                                           matTooltipClass="preserve-whitespace"
                                           class="ui-grid-header-text">
                                            {{ column.title }}
                                        </p>

                                        <mat-icon *ngIf="column.description"
                                                  [matTooltip]="column.description"
                                                  class="ui-grid-info-icon material-icons-outlined">info</mat-icon>

                                        <div *ngIf="column.sortable"
                                             [class.ui-grid-sort-indicator-asc]="column.sort === 'asc'"
                                             [class.ui-grid-sort-indicator-desc]="column.sort === 'desc'"
                                             class="ui-grid-sort-indicator">
                                            <mat-icon class="ui-grid-sort-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 24 24">
                                                    <path [attr.transform]="column.sort === '' ? 'translate(0 -3)': ''"
                                                          class="path-asc"
                                                          d="M12 11.8l2.5 2.5 1.1-1.1L12 9.7l-3.6 3.5 1.1 1.1z" />
                                                    <path [attr.transform]="column.sort === '' ? 'translate(0 3)': ''"
                                                          class="path-desc"
                                                          d="M12 12.2L9.5 9.7l-1.1 1.1 3.6 3.5 3.6-3.5-1.1-1.1z" />
                                                </svg>
                                            </mat-icon>
                                        </div>
                                    </div>

                                    <div *ngIf="!isProjected && column.resizeable && !useCardView && (!last || columns.freeColumns.length > 0)"
                                         (mousedown)="resizeManager.startResize($event, column, columnIndex)"
                                         [class.last-sticky-handle-container]="last && columns.freeColumns.length > 0"
                                         class="ui-grid-resize-handle-container ui-grid-sticky-element">

                                        <div [class.ui-grid-state-resizing]="column === resizeManager.current?.column"
                                             class="ui-grid-resize-handle">
                                        </div>
                                    </div>
                                    </div>
                                    </ng-container>
                                    </div>

                        <ng-container *ngFor="let column of columns.freeColumns; let last = last; let columnIndex = index">
                            <div *ngLet="(+(column.widthPx$ | async)! + (last ? (+(deficit$ | async)!) : 0)) as widthPx"
                                 [class.ui-grid-header-cell-sortable]="column.sortable"
                                 [class.ui-grid-resizeable]="column.resizeable"
                                 [class.ui-grid-state-resizing]="column === resizeManager.current?.column"
                                 [attr.aria-sort]="column.ariaSort"
                                 [attr.data-property]="column.property"
                                 [attr.data-identifier]="column.identifier"
                                 [style.width]="widthPx ? (widthPx + 'px') : (column.width + '%')"
                                 [style.minWidth.px]="widthPx"
                                 (cdkFocusChange)="triggerColumnHeaderTooltip($event, columnTooltip)"
                                 (focusout)="hideColumnHeaderTooltip(columnTooltip)"
                                 (keyup.enter)="sortManager.changeSort(column)"
                                 (keyup.space)="sortManager.changeSort(column)"
                                 (keydown.ArrowLeft)="(!last || isScrollable) && resizeManager.startKeyboardResize('left', column, columnIndex); $event.preventDefault()"
                                 (keydown.ArrowRight)="(!last || isScrollable) && resizeManager.startKeyboardResize('right', column, columnIndex); $event.preventDefault()"
                                 cdkMonitorElementFocus
                                 class="ui-grid-header-cell"
                                 role="columnheader"
                                 tabindex="0">
                                <div (click)="sortManager.changeSort(column)"
                                     class="ui-grid-header-title">
                                    <p #columnTooltip="matTooltip"
                                       [class.ui-grid-header-title-filtered]="isFilterApplied(column)"
                                       [matTooltip]="column.title + (focusedColumnHeader ? ('\n' + column.description) : '')"
                                       [matTooltipDisabled]="resizeManager.isResizing"
                                       [attr.aria-label]="column.title + (column.description ? ('. ' + column.description) : '') + (column.sortable && intl.sortableMessage ? '. ' + intl.sortableMessage : '')"
                                       matTooltipClass="preserve-whitespace"
                                       class="ui-grid-header-text">
                                        {{ column.title }}
                                    </p>

                                    <mat-icon *ngIf="column.description"
                                              [matTooltip]="column.description"
                                              class="ui-grid-info-icon material-icons-outlined">info</mat-icon>

                                    <div *ngIf="column.sortable"
                                         [class.ui-grid-sort-indicator-asc]="column.sort === 'asc'"
                                         [class.ui-grid-sort-indicator-desc]="column.sort === 'desc'"
                                         class="ui-grid-sort-indicator">
                                        <mat-icon class="ui-grid-sort-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 24 24">
                                                <path [attr.transform]="column.sort === '' ? 'translate(0 -3)': ''"
                                                      class="path-asc"
                                                      d="M12 11.8l2.5 2.5 1.1-1.1L12 9.7l-3.6 3.5 1.1 1.1z" />
                                                <path [attr.transform]="column.sort === '' ? 'translate(0 3)': ''"
                                                      class="path-desc"
                                                      d="M12 12.2L9.5 9.7l-1.1 1.1 3.6 3.5 3.6-3.5-1.1-1.1z" />
                                            </svg>
                                        </mat-icon>
                                    </div>
                                </div>

                                <div *ngIf="!isProjected && column.resizeable && !useCardView && (!last || isScrollable)"
                                     (mousedown)="resizeManager.startResize($event, column, columnIndex)"
                                     class="ui-grid-resize-handle-container">
                                    <div [class.ui-grid-state-resizing]="column === resizeManager.current?.column"
                                         class="ui-grid-resize-handle">
                                    </div>
                                </div>
                            </div>
                            </ng-container>
                            </ng-container>
                            <div *ngIf="virtualScroll"
                                 [style.marginLeft.px]="scrollCompensationWidth$ | async"
                                 class="ui-grid-header-cell ui-grid-scroll-size-compensation-cell ui-grid-feature-cell">
                            </div>
                            <div *ngIf="refreshable"
                                 class="ui-grid-header-cell ui-grid-refresh-cell ui-grid-feature-cell"
                                 role="columnheader">
                                <button [matTooltip]="intl.refreshTooltip"
                                        [matTooltipDisabled]="resizeManager.isResizing"
                                        [disabled]="disabled"
                                        (click)="refresh.emit()"
                                        mat-icon-button
                                        type="button"
                                        class="grid-refresh-button">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                            <div *ngIf="!!actions"
                                 class="ui-grid-header-cell ui-grid-action-cell ui-grid-feature-cell">
                            </div>
                            </div>
                            </div>

            <ng-container *ngIf="dataManager?.length; else noData">
                <ng-container *ngIf="virtualScroll">
                    <cdk-virtual-scroll-viewport [total]="dataManager.length"
                                                 [itemSize]="rowSize"
                                                 uiVirtualScrollViewportResize
                                                 class="ui-grid-viewport">
                        <ng-container *ngIf="useCardView">
                            <div class="ui-grid-cards-container">
                                <ng-container *cdkVirtualFor="let row of dataManager.data$ | async;
                                    let last = last;
                                    let index = index;
                                    trackBy: dataManager.hashTrack">
                                    <ng-container *ngTemplateOutlet="rowCardTemplate; context: {
                                            data: row,
                                            index: index,
                                            expanded: expandedEntries,
                                            last: last
                                        }"></ng-container>
                                </ng-container>
                            </div>
                            </ng-container>
                            <ng-container *ngIf="!useCardView">
                                <ng-container *cdkVirtualFor="let row of dataManager.data$ | async;
                                                        let last = last;
                                                        let index = index;
                                                        trackBy: dataManager.hashTrack">
                                <ng-container *ngTemplateOutlet="rowTemplate; context: {
                                        data: row,
                                        index: index,
                                        expanded: expandedEntries,
                                        last: last,
                                        highlightedEntityId: (highlightedEntityId$ | async)
                                    }">
                                </ng-container>
                            </ng-container>
                            </ng-container>
                            </cdk-virtual-scroll-viewport>
                            </ng-container>

                <ng-container *ngIf="!virtualScroll">
                    <ng-container *ngIf="useCardView">
                        <div class="ui-grid-cards-container">
                            <ng-container *ngFor="let row of dataManager.data$ | async;
                                                let index = index;
                                                let last = last;
                                                trackBy: dataManager.hashTrack">
                                <ng-container *ngTemplateOutlet="rowCardTemplate; context: {
                                            data: row,
                                            index: index,
                                            expanded: expandedEntries,
                                            last: last
                                        }">
                                </ng-container>
                            </ng-container>
                            </div>
                            </ng-container>
                            <ng-container *ngIf="!useCardView">
                                <ng-container *ngFor="let row of dataManager.data$ | async;
                                            let index = index;
                                            let last = last;
                                            trackBy: dataManager.hashTrack">
                            <ng-container *ngTemplateOutlet="rowTemplate; context: {
                                        data: row,
                                        index: index,
                                        expanded: expandedEntries,
                                        last: last,
                                        highlightedEntityId: (highlightedEntityId$ | async)
                                    }">
                            </ng-container>
                        </ng-container>
                        </ng-container>
                        </ng-container>
                        </ng-container>

            <ng-container *ngIf="loading && !!loadingState">
                <ng-container *ngTemplateOutlet="loadingState.html ?? null"></ng-container>
            </ng-container>
        </div>
        </div>
        <div class="ui-grid-footer-container">
            <ui-grid-custom-paginator *ngIf="!!footer && !footer.hidden"
                                      [pageIndex]="footer.state.pageIndex"
                                      [pageSize]="footer.state.pageSize"
                                      [pageSizeOptions]="footer.pageSizes"
                                      [length]="footer.length"
                                      [disabled]="disabled"
                                      [showFirstLastButtons]="footer.showFirstLastButtons"
                                      [hidePageSize]="footer.hidePageSize"
                                      [hideTotalCount]="footer.hideTotalCount"
                                      (page)="footer.pageChange.next($event)">
            </ui-grid-custom-paginator>
        </div>
        </div>
<ng-template #rowTemplate
             let-row="data"
             let-expanded="expanded"
             let-last="last"
             let-index="index"
             let-highlightedEntityId="highlightedEntityId">
    <div cdkMonitorSubtreeFocus
         class="ui-grid-row"
         *ngIf="!isRowExpanded(row?.id) || expandMode === 'preserve'"
         [class.ui-grid-row-state-expanded]="isRowExpanded(row?.id)"
         [class.ui-grid-border-none]="!footer && last"
         [class.highlighted-row]="allowHighlight && (row.id + '')  === (highlightedEntityId + '')"
         [ngClass]="rowConfig?.ngClassFn(row) ?? ''"
         [tabIndex]="0"
         [attr.data-row-index]="index"
         (click)="onRowClick($event, row)"
         (keyup.enter)="onRowClick($event, row)"
         role="row">

        <div *ngIf="isProjected"
             class="ui-grid-cell ui-grid-feature-cell ui-grid-mobile-feature-cell"
             role="gridcell">
            <ng-container *ngLet="disableSelectionByEntry(row) as disabledReason">
                <div *ngIf="selectable && !singleSelectable"
                     class="ui-grid-mobile-feature-container ui-grid-mobile-refresh-container">
                    <mat-checkbox (change)="handleSelection(index, row)"
                                  [checked]="selectionManager.isSelected(row)"
                                  [indeterminate]="selectionManager.isIndeterminate(row)"
                                  [matTooltip]="disabledReason || checkboxTooltip(row)"
                                  [aria-label]="disabledReason || checkboxTooltip(row)"
                                  [disabled]="!!disabledReason"
                                  tabindex="0">
                    </mat-checkbox>
                </div>
                <div *ngIf="singleSelectable"
                     class="ui-grid-mobile-feature-container ui-grid-mobile-refresh-container">
                    <mat-radio-group>
                        <mat-radio-button [value]="row.id"
                                          [checked]="selectionManager.isSelected(row)"
                                          [disabled]="disabledReason"
                                          [matTooltip]="disabledReason || checkboxTooltip(row)"
                                          [aria-label]="disabledReason || checkboxTooltip(row)"
                                          (change)="rowSelected(row)"></mat-radio-button>
                    </mat-radio-group>
                </div>
            </ng-container>
            <div *ngIf="!!actions"
                 role="gridcell"
                 class="ui-grid-mobile-feature-container ui-grid-mobile-action-container">
                <ng-container *ngTemplateOutlet="actions.html ?? null; context: {
                    data: row,
                    index: index
                }">
                </ng-container>
            </div>
        </div>

        <div *ngIf="!isProjected && (selectable || singleSelectable)"
             [class.ui-grid-sticky-element]="isScrollable"
             class="ui-grid-cell ui-grid-checkbox-cell ui-grid-feature-cell"
             role="gridcell">
            <ng-container *ngLet="disableSelectionByEntry(row) as disabledReason">
                <mat-radio-group *ngIf="singleSelectable; else multiSelectable">
                    <mat-radio-button [value]="row.id"
                                      [checked]="selectionManager.isSelected(row)"
                                      [disabled]="disabledReason"
                                      [matTooltip]="disabledReason || checkboxTooltip(row)"
                                      [aria-label]="disabledReason || checkboxTooltip(row)"
                                      (change)="rowSelected(row)"></mat-radio-button>
                </mat-radio-group>
                <ng-template #multiSelectable>
                    <mat-checkbox (change)="handleSelection(index, row)"
                                  [checked]="selectionManager.isSelected(row)"
                                  [indeterminate]="selectionManager.isIndeterminate(row)"
                                  [matTooltip]="disabledReason || checkboxTooltip(row)"
                                  [aria-label]="disabledReason || checkboxTooltip(row)"
                                  [disabled]="disabledReason"
                                  tabindex="0">
                    </mat-checkbox>
                </ng-template>
            </ng-container>
        </div>

        <ng-container *ngLet="renderedColumns$ | async as renderedColumns">
            <div *ngIf="renderedColumns.stickyColumns.length"
                 [style.left.px]="(selectable || singleSelectable) ? selectionColumnWidth : 0"
                 [style.minWidth.px]="stickyColumnsSum$ | async"
                 [class.sticky-container-border-right]="(isOverflown$ | async) && renderedColumns.freeColumns.length"
                 class="sticky-columns-cell-container ui-grid-cell">
                <ng-container *ngFor="let column of renderedColumns.stickyColumns let lastColumn = last;">
                    <div *ngLet="(column.directive.widthPx$ | async) as widthPx"
                         [class.ui-grid-primary]="column.directive.primary"
                         [class.ui-grid-secondary]="!column.directive.primary"
                         [class.ui-grid-state-resizing]="column.directive === resizeManager.current?.column"
                         [attr.data-property]="column.directive.property"
                         [attr.data-identifier]="column.directive.identifier"
                         [style.width]="widthPx ? (widthPx + 'px') : (column.directive.width + '%')"
                         [style.minWidth.px]="widthPx"
                         [attr.role]="column.role"
                         class="ui-grid-cell ui-grid-sticky-element">
                        <div *ngIf="isProjected"
                             [matTooltip]="column.directive.title ?? ''"
                             [matTooltipDisabled]="resizeManager.isResizing"
                             class="ui-grid-cell-mobile-title">{{column.directive.title}}</div>

                        <div class="ui-grid-cell-content">
                            <ng-container *ngTemplateOutlet="column.directive.html || textCellTemplate; context: {
                                                    data: row,
                                                    index: index,
                                                    property: column.directive.property
                                                }">
                            </ng-container>
                        </div>

                        <div class="ui-grid-cell-resizing-border-container ui-grid-sticky-element"
                             [class.ui-grid-last-resize-handle-container]="lastColumn && renderedColumns.freeColumns.length > 0">
                            <div *ngIf="!isProjected && column.directive.resizeable && !useCardView"
                                 [class.ui-grid-state-resizing]="column.directive === resizeManager.current?.column"
                                 class="ui-grid-cell-resizing-border">
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <ng-container *ngFor="let column of renderedColumns.freeColumns; let lastColumn = last; let columnIndex = index">
                <div *ngLet="(+(column.directive.widthPx$ | async)! + (lastColumn ? (+(deficit$ | async)!) : 0)) as widthPx"
                     [class.ui-grid-primary]="column.directive.primary"
                     [class.ui-grid-secondary]="!column.directive.primary"
                     [class.ui-grid-state-resizing]="column.directive === resizeManager.current?.column"
                     [attr.data-property]="column.directive.property"
                     [attr.data-identifier]="column.directive.identifier"
                     [style.width]="widthPx ? (widthPx + 'px') : (column.directive.width + '%')"
                     [style.minWidth.px]="widthPx"
                     [attr.role]="column.role"
                     class="ui-grid-cell">
                    <div *ngIf="isProjected"
                         [matTooltip]="column.directive.title ?? ''"
                         [matTooltipDisabled]="resizeManager.isResizing"
                         class="ui-grid-cell-mobile-title">{{column.directive.title}}</div>

                    <div class="ui-grid-cell-content">
                        <ng-container *ngTemplateOutlet="column.directive.html || textCellTemplate; context: {
                                        data: row,
                                        index: index,
                                        property: column.directive.property
                                    }">
                        </ng-container>
                    </div>
                    <div *ngIf="!lastColumn"
                         class="ui-grid-cell-resizing-border-container">
                        <div *ngIf="!isProjected && column.directive.resizeable && !lastColumn && !useCardView"
                             [class.ui-grid-state-resizing]="column.directive === resizeManager.current?.column"
                             class="ui-grid-cell-resizing-border">
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div *ngIf="virtualScroll"
             class="ui-grid-cell ui-grid-scroll-size-compensation-cell ui-grid-feature-cell">
        </div>

        <div *ngIf="!isProjected &&
                    refreshable"
             [class.invisible-refresh]="isScrollable"
             class="ui-grid-cell ui-grid-refresh-cell ui-grid-feature-cell">
        </div>

        <div *ngIf="!isProjected &&
                    !!actions"
             [class.ui-grid-sticky-element]="isScrollable"
             role="gridcell"
             class="ui-grid-cell ui-grid-action-cell ui-grid-feature-cell">
            <div [class.sticky-grid-action-cell-container]="isScrollable"
                 class="ui-grid-action-cell-container">
                <ng-container *ngTemplateOutlet="actions.html ?? null; context: {
                        data: row,
                        index: index
                    }">
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="isRowExpanded(row?.id)"
         [class.ui-grid-row-state-expanded]="isRowExpanded(row?.id)"
         [class.ui-grid-border-none]="!footer && last"
         role="row">
        <div class="ui-grid-expanded-row-container">
            <ng-container *ngTemplateOutlet="expandedRow!.html ?? null; context: {
                data: row,
                index: index
            }">
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #textCellTemplate
             let-row="data"
             let-property="property">
    <p [matTooltip]="dataManager.getProperty(row, property)"
       [matTooltipDisabled]="resizeManager.isResizing">{{ dataManager.getProperty(row, property) }}</p>
</ng-template>

<ng-template #rowCardTemplate
             let-row="data"
             let-expanded="expanded"
             let-last="last"
             let-index="index">
    <div cdkMonitorSubtreeFocus
         class="ui-grid-card-wrapper"
         [ngClass]="rowConfig?.ngClassFn(row) ?? ''"
         [attr.data-row-index]="index"
         (click)="onRowClick($event, row)"
         (keyup.enter)="onRowClick($event, row)"
         role="row">
        <ng-container *ngIf="cardTemplate?.html; else defaultCardTemplate">
            <ng-container *ngTemplateOutlet="cardTemplate?.html || defaultCardTemplate;context: {
                data: row,
                index: index,
                expanded: expandedEntries,
                last: last
            }"></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #defaultCardTemplate
             let-row="data"
             let-index="index">
    <div class="ui-grid-card-default"
         role="gridcell"
         tabindex="0">
        <ng-container *ngFor="let column of (renderedColumns$ | async)!.freeColumns">
            <div [class.ui-grid-primary]="column.directive.primary"
                 [class.ui-grid-secondary]="!column.directive.primary"
                 [attr.data-property]="column.directive.property"
                 [attr.data-identifier]="column.directive.identifier"
                 class="ui-grid-card-default-cell">
                <div *ngIf="isProjected"
                     [matTooltip]="column.directive.title ?? ''"
                     [matTooltipDisabled]="resizeManager.isResizing"
                     class="ui-grid-card-default-cell-mobile-title">{{column.directive.title}}</div>
                <div class="ui-grid-card-default-cell-content">
                    <b>{{ column.directive.title ?? column.directive.property }}:</b> <ng-container *ngTemplateOutlet="column.directive.html || textCellTemplate; context: {
                            data: row,
                            index: index,
                            property: column.directive.property
                        }">
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #noData>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="noContent; else defaultNoData">
            <ng-container *ngTemplateOutlet="noContent.html ?? null; context: {
                search: header?.searchValue,
                activeCount: filterManager.activeCount$ | async
            }">
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #defaultNoData>
    <ng-container *ngLet="(filterManager.activeCount$ | async) as activeFilterCount">
        <div *ngIf="!dataManager.pristine"
             class="ui-grid-row ui-grid-no-data-container"
             [class.ui-grid-no-content-available]="!header?.searchValue && !activeFilterCount"
             [class.ui-grid-border-none]="!footer">
            <mat-icon *ngIf="!header?.searchValue && !activeFilterCount">visibility_off</mat-icon>
            <p>{{ noDataMessage || intl.noDataMessageAlternative(header?.searchValue, activeFilterCount) }}</p>
        </div>
    </ng-container>
</ng-template>

<ng-template #multiPageSelectionRow>
    <div *ngIf="!isProjected &&
                showMultiPageSelectionInfo"
         class="ui-grid-row ui-grid-selection-info-container ui-grid-selection-info-container-alternate">
        <ng-container *ngTemplateOutlet="multiPageSelectionInfo"></ng-container>
    </div>
</ng-template>

<ng-template #multiPageSelectionProjectedHeaderCell>
    <div *ngIf="isProjected &&
                showMultiPageSelectionInfo"
         class="ui-grid-header-cell ui-grid-feature-cell ui-grid-selection-info-container">
        <ng-container *ngTemplateOutlet="multiPageSelectionInfo"></ng-container>
    </div>
</ng-template>

<ng-template #multiPageSelectionInfo>
    <ng-container *ngIf="selectionManager.selected.length; else noSelectionTmpl">
        <button [matTooltip]="intl.clearSelectionTooltip"
                [matTooltipDisabled]="resizeManager.isResizing"
                (click)="selectionManager.clear()"
                mat-icon-button
                type="button"
                color="warn"
                class="ui-grid-selection-clear-button">
            <mat-icon>clear</mat-icon>
        </button>
        <span class="ui-grid-selection-info-message">
            {{ intl.translateMultiPageSelectionCount(selectionManager.selected.length) }}
        </span>
    </ng-container>
</ng-template>

<ng-template #noSelectionTmpl>
    <span class="ui-grid-selection-info-message">
        {{ intl.noSelectionMessage }}
    </span>
</ng-template>

<ng-template #filtersTmpl>
    <ng-container *ngIf="areFilersCollapsed$ | async; else inlineFiltersTmpl">
        <button *ngIf="hasAnyFiltersVisible$ | async"
                [disabled]="disabled"
                (click)="showFilters = !showFilters"
                [attr.aria-expanded]="showFilters"
                mat-button
                type="button"
                class="ui-grid-collapsible-filters-toggle">
            <mat-icon>filter_list</mat-icon>
            <span>{{ intl.filters(filterManager.activeCount$ | async) }}</span>
            <mat-icon iconPositionEnd>{{ showFilters ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
    </ng-container>
</ng-template>

<ng-template #inlineFiltersTmpl>
    <ng-container *ngFor="let column of columns$ | async">
        <div *ngIf="column.dropdown?.visible$ | async"
             [attr.data-collapsed]="!collapseFiltersCount || null"
             class="ui-grid-dropdown-filter-container ui-grid-filter-option">
            <button [matMenuTriggerFor]="filterOptions"
                    [disabled]="column.dropdown?.disabled || disabled"
                    [attr.data-column-name]="getColumnName(column)"
                    [expandedTranslation]="intl.menuExpanded"
                    (menuOpened)="focusActiveFilterItem()"
                    uiCustomMatMenuTriggerFor
                    mat-button
                    type="button"
                    class="ui-grid-dropdown-filter-button">
                <span class="ui-grid-dropdown-filter-title">{{ column.title }}: </span>
                <span class="ui-grid-dropdown-filter-value">
                    {{ !!column.dropdown?.value ? intl.translateDropdownOption(column.dropdown!.value!) :
                    intl.noFilterPlaceholder }}
                </span>
                <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #filterOptions="matMenu"
                      [overlapTrigger]="true">
                <button *ngIf="column.dropdown?.showAllOption"
                        [class.active]="column.dropdown?.value == null"
                        [matTooltip]="intl.noFilterPlaceholder"
                        (click)="filterManager.dropdownUpdate(column!, undefined)"
                        type="button"
                        mat-menu-item>
                    {{ intl.noFilterPlaceholder }}
                </button>
                <button *ngFor="let dropdownItem of column.dropdown?.items"
                        [class.active]="column.dropdown?.value?.label === dropdownItem.label"
                        [matTooltip]="intl.translateDropdownOption(dropdownItem)"
                        (click)="filterManager.dropdownUpdate(column, dropdownItem)"
                        type="button"
                        mat-menu-item>
                    {{ intl.translateDropdownOption(dropdownItem) }}
                </button>
            </mat-menu>
        </div>

        <ng-container *ngIf="column.searchableDropdown?.visible$ | async">
            <ui-suggest #suggest
                        [placeholder]="column.title ?? ''"
                        [defaultValue]="column.searchableDropdown!.noFilterPlaceholder || intl.noFilterPlaceholder"
                        [searchSourceFactory]="column.searchableDropdown!.searchSourceFactory"
                        [value]="searchableDropdownValue(column.searchableDropdown!)"
                        [disabled]="column.searchableDropdown!.disabled || disabled"
                        [drillDown]="column.searchableDropdown!.drillDown"
                        [maxLength]="64"
                        [fetchStrategy]="column.searchableDropdown!.fetchStrategy || fetchStrategy"
                        [attr.data-cy]="getColumnName(column, 'ui-grid-search-filter')"
                        [multiple]="column.searchableDropdown!.multiple"
                        [compact]="column.searchableDropdown!.multiple"
                        [displayCount]="column.searchableDropdown!.displayCount"
                        [minChars]="column.searchableDropdown?.minChars ?? 0"
                        (selected)="filterManager.searchableDropdownUpdate(column, $event, true)"
                        (deselected)="filterManager.searchableDropdownUpdate(column, $event, false)"
                        (opened)="column.refetch && suggest.fetch()"
                        width="230px"
                        class="ui-grid-search-filter ui-grid-filter-option">
            </ui-suggest>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #toggleColumnsTmpl>
    <ui-grid-toggle-columns *ngIf="toggleColumns && !(hasSelection$ | async)"
                            [options]="visibilityManager.options$ | async"
                            [dirty]="(visibilityManager.isDirty$ | async) ?? false"
                            [toggleTooltip]="intl.toggleTooltip"
                            [resetToDefaults]="intl.toggleResetToDefaults"
                            [toggleTitle]="intl.toggleTitle"
                            [togglePlaceholderTitle]="intl.togglePlaceholderTitle"
                            [showDivider]="(displayToggleColumnsDivider$ | async) ?? false"
                            (visibleColumns)="visibilityManager.update($event)"
                            (resetColumns)="visibilityManager.reset()"
                            (visibleColumnsToggled)="visibleColumnsToggle$.next($event)">
    </ui-grid-toggle-columns>
</ng-template>
