@use "@angular/material" as mat;
@import "./projects/angular/uipath-angular.theme";

$theme: mat.define-light-theme(
    mat.define-palette(mat.$blue-grey-palette, 500),
    mat.define-palette(mat.$amber-palette, 500)
);

@include mat.core();
@include mat.all-component-themes($theme);
@include uipath-angular-theme($theme);
@include mat.snack-bar-theme($theme);

body {
    margin: 0;
    padding: 0;
}

.mat-mdc-form-field {
    .mat-mdc-text-field-wrapper,
    .mat-mdc-form-field-focus-overlay {
        background-color: unset;
        padding: 0;
    }
}
