<mat-card>
    <mat-card-title> Grid </mat-card-title>
    <mat-card-subtitle>Playground</mat-card-subtitle>

    <mat-card-content>
        <div class="grid-playground">
            <form [formGroup]="actionsForm"
                  (submit)="generateGrid()">
                <div class="grid-playground-actions">
                    <div [formGroup]="inputGroup"
                         class="grid-playground-actions-inputs">
                        <h4>Grid Inputs</h4>
                        <ng-container *ngFor="let inputKey of inputKeys">
                            <ng-container *ngIf="actionsForm.get('inputs.'+inputKey) as inputControl">
                                <ng-container
                                              *ngIf="inputControl.value === true || inputControl.value === false; else numberTmpl">
                                    <mat-checkbox [formControlName]="inputKey">
                                        {{inputKey}}
                                    </mat-checkbox>
                                </ng-container>

                                <ng-template #numberTmpl>
                                    <mat-form-field>
                                        <mat-label>{{ inputKey }}</mat-label>
                                        <input [formControlName]="inputKey"
                                               required
                                               matInput
                                               type="number">
                                    </mat-form-field>
                                </ng-template>
                            </ng-container>
                        </ng-container>

                    </div>

                    <div [formGroup]="headerGroup"
                         class="grid-playground-actions-header">
                        <h4>Grid Header</h4>

                        <mat-checkbox class="header-search-checkbox"
                                      formControlName="searchable">
                            Header search
                        </mat-checkbox>

                        <mat-checkbox class="header-search-checkbox"
                                      formControlName="showFilter">
                            Show Filter
                        </mat-checkbox>

                        <mat-form-field *ngFor="let button of buttonKeys">
                            <mat-label>generate {{ button }} buttons</mat-label>
                            <input [formControlName]="button"
                                   required
                                   matInput
                                   type="number">
                            <mat-error>Enter a value between 0 and 5</mat-error>
                        </mat-form-field>
                    </div>

                    <div [formGroup]="dataGroup"
                         class="grid-playground-actions-data">
                        <h4>Grid Data</h4>

                        <mat-form-field *ngFor="let dataAction of dataActions">
                            <mat-label>Generate {{dataAction}}: </mat-label>
                            <input [formControlName]="dataAction"
                                   required
                                   matInput
                                   type="number">
                            <mat-error>Enter a value between 0 and 1000</mat-error>
                        </mat-form-field>
                    </div>

                    <div [formGroup]="footerGroup"
                         class="grid-playground-actions-header">
                        <h4>Grid Footer</h4>

                        <mat-checkbox class="header-search-checkbox"
                                      formControlName="hideTotalCount">
                            Hide Total Count
                        </mat-checkbox>

                        <mat-checkbox class="header-search-checkbox"
                                      formControlName="showFirstLastButtons">
                            Show First Last Buttons
                        </mat-checkbox>
                    </div>
                </div>

                <button [disabled]="actionsForm.invalid"
                        type="submit"
                        color="primary"
                        mat-button>
                    Generate Grid
                </button>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<ng-container *ngIf="generatedGrid">
    <h3 *ngIf="inputs?.toggleColumns">Visibility columns state: {{ visibilityColumnsOpened ? 'Opened' : 'Closed' }}</h3>
    <ui-app-grid-component [allData]="allData"
                           [inputs]="inputs!"
                           [header]="header!"
                           [footer]="footer"
                           [inputKeys]="inputKeys"
                           (visibleColumnsToggled)="visibilityColumnsOpened = $event">
    </ui-app-grid-component>
</ng-container>
