:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-drop-zone {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    border: 1px solid;
    position: relative;
    overflow: auto;

    div {
        display: flex;
        justify-content: center;
    }
}

.drop-zone {
    border-radius: 3px;
    border-width: 2px;
    border-style: dashed;

    &.ui-file-drop-zone-highlight {
        border-style: solid;
    }
}
