<h1>Ui Autocomplete</h1>

<ui-autocomplete></ui-autocomplete>


<hr>
<h1>Single select suggest</h1>
<mat-form-field>
    <ui-suggest [fetchStrategy]="'onOpen'"
                [searchSourceFactory]="searchSourceFactory">
    </ui-suggest>
</mat-form-field>

<h1>Drill down suggest</h1>
<mat-form-field>
    <ui-suggest [searchable]="true"
                [drillDown]="true"
                [searchSourceFactory]="searchSourceFactory">
    </ui-suggest>
</mat-form-field>

<hr class="spacer">

<h2>Multiple select suggest</h2>
<mat-form-field>
    <ui-suggest [searchable]="true"
                [disabled]="false"
                [multiple]="true"
                [enableCustomValue]="true"
                [searchSourceFactory]="searchSourceFactory">
    </ui-suggest>
</mat-form-field>
