.expanded-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    border: 1px solid #cfd8dd;
    color: #273139;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
}
