@import "../../styles/ellipse";

$item-height: 32px;
$form-control-height: 18px;
$display-padding: 15px;
$icon-size: 18px;
$mat-icon-size: 24px;
$default-border-radius: 4px;
$chips-container-padding: 8px;
/* https://github.com/angular/material2/blob/master/src/lib/button/_button-base.scss */
$ui-suggest-focus-transition: background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);

$componentName: "ui-suggest";

#{$componentName} {
    --ui-suggest-height: 40px;
    --ui-suggest-list-item-height: 40px;

    &.ui-suggest-state-high-density {
        --ui-suggest-height: 32px;
    }

    height: 100%;
    position: relative;
    display: block;

    .item-max-count-info-message {
        .mat-divider {
            margin: 0;
        }

        padding: 0 16px;
        display: block;
    }

    &.disabled {
        opacity: 0.38;
    }

    & {
        .readonly,
        &.disabled {
            pointer-events: none;
        }
        &.is-loading {
            font-style: italic;
            opacity: 0.8;
        }
    }

    .display-title {
        font-weight: 700;
    }

    .display-value {
        &:after {
            content: "";
            display: inline-block;
        }
    }

    .display {
        cursor: pointer;
        user-select: none;
        border-radius: $default-border-radius;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover,
        &:focus {
            outline: none;
        }

        &-container {
            max-width: calc(100% - #{$mat-icon-size});
        }

        .mat-icon {
            flex-shrink: 0;
        }
    }

    .mat-mdc-chip {
        box-sizing: border-box;

        max-width: calc(100% - #{$chips-container-padding * 2});

        .chip-selectable-icon {
            padding-right: $chips-container-padding;
        }

        span {
            @extend %ellipse;
        }
    }
}

#{$componentName}:not(.form-control) {
    $searchUpDown: 3px;
    $searchLeft: -1px;
    .display,
    .mat-mdc-form-field-label {
        font-size: 0.8rem;
    }

    .display {
        height: var(--ui-suggest-height);
        line-height: var(--ui-suggest-height);
        transition: $ui-suggest-focus-transition;
        padding: 0 6px 0 16px;

        &-container {
            max-width: 200px;
        }
    }
}

#{$componentName}.form-control {
    .mat-mdc-form-field-flex {
        padding: 0;
        background: inherit;
    }

    .display {
        font-size: 14px;
        height: $form-control-height;
        line-height: $form-control-height;
    }
}

.text-ellipsis {
    @extend %ellipse;
}

.ui-suggest-dropdown-item-list-container {
    &.is-form-control {
        .mat-mdc-list {
            .mat-icon {
                height: $icon-size;
                font-size: $icon-size;
                padding-right: 0;
            }

            &-item {
                height: $item-height;
                font-size: 14px;
                &.text-ellipsis .mat-list-item-content {
                    line-height: $item-height;
                }
            }
            .mat-mdc-checkbox-ripple.mat-ripple {
                height: 33px;
                width: 33px;
                left: -7px;
                top: -7px;
            }
        }
    }

    &:not(.is-form-control) {
        .mat-mdc-list {
            &-item {
                height: var(--ui-suggest-list-item-height);
                &.text-ellipsis .mdc-list-item__content {
                    line-height: var(--ui-suggest-list-item-height);
                }
                &.no-results-text .mdc-list-item__content {
                    font-size: 14px;
                }
            }
        }
    }

    &-expanded-inline {
        display: flex;
        flex-direction: column;
    }

    display: block;
    z-index: 5;
    border-radius: $default-border-radius;

    .ui-suggest-item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &:focus,
    &:hover {
        outline: none;
    }

    .mat-mdc-form-field {
        $field-padding: 16px;

        padding: 0 $field-padding;
        width: calc(100% - #{$field-padding * 2}) !important;
        margin: 0 !important;
        height: var(--ui-suggest-list-item-height);
        &-infix {
            border: 7px solid transparent;
            border-left: none;
            border-right: none;
            border-left: 0;
            border-right: 0;
        }

        &-icon-suffix {
            align-self: center;

            mat-icon {
                font-size: 24px;
                padding: 0;
            }
        }

        &-underline {
            bottom: 7px;
        }

        &-subscript-wrapper {
            display: none;
        }

        .mat-mdc-text-field-wrapper {
            align-items: center;
        }
    }

    .mat-mdc-list {
        overflow-y: auto;
        padding: 0;

        &-item {
            &:not(.mat-mdc-list-item-interactive) {
                cursor: pointer;
            }

            .readonly,
            &.disabled {
                pointer-events: none;
            }
            &.is-loading {
                font-style: italic;
                opacity: 0.8;
            }
            &.text-ellipsis:not(.custom-value-template) .mdc-list-item__content {
                display: block;
            }

            &.is-expandable {
                .mdc-list-item__content {
                    padding-right: 30px;
                }
            }

            mat-progress-spinner {
                margin: 0 auto;
            }

            .mat-icon {
                vertical-align: middle;
                &:not(.expand-icon) {
                    padding-right: 5px;
                    margin-top: -3px;
                }

                &.expand-icon {
                    position: absolute;
                    right: 0;
                }
            }

            .text-label {
                outline: none;
                margin-left: 5px;
                user-select: none;
                font-weight: normal;
            }
        }
    }

    &-state-closed {
        display: none;
    }

    cdk-virtual-scroll-viewport {
        height: 100vh;
        overflow-x: hidden;

        .cdk-virtual-scroll-content-wrapper {
            width: 100%;
            overflow: hidden;
        }
    }

    .no-more-options-footer {
        padding: 6px 16px;

        span {
            font-size: 14px
        }

        mat-icon {
            vertical-align: middle;
            padding: 0 8px;
        }
    }
}
