<div *ngLet="focus$ | async as focus"
     (uiClickOutside)="focused && close(false)"
     [style.height]="expandInline ? '100%' : undefined"
     class="ui-suggest-container"
     role="application">
    <!--
          We use role="application" to opt-out of the screen reader's navigator. Without this,
          we couldn't highlight correctly the focused option when navigating by keyboard.

          Tested in NVDA.
      -->

    <ng-container *ngIf="!expandInline">
        <ng-container *ngIf="(!multiple || compact); else chipsTemplate">

            <div [attr.tabindex]="!disabled &&
                            !readonly ?
                            0 : null"
                 [uiAutofocus]="!isOpen && focus"
                 [refocus]="!isOpen && focus"
                 [matRippleDisabled]="isFormControl"
                 [attr.aria-label]="placeholder"
                 [attr.aria-describedby]="describedBy"
                 [attr.aria-required]="required"
                 [attr.aria-disabled]="disabled || readonly"
                 [attr.aria-expanded]="isOpen"
                 (click)="toggle()"
                 (keyup.enter)="preventDefault($event);"
                 (keydown.enter)="preventDefault($event);
                              open();"
                 (keyup.space)="open()"
                 (keyup.esc)="removeSelection($event)"
                 (keydown.esc)="isOpen &&
                            preventDefault($event)"
                 (keydown.space)="preventDefault($event)"
                 (focus)="onFocus();"
                 (blur)="onBlur()"
                 matRipple
                 class="display"
                 role="combobox">
                <ng-container *ngIf="itemTemplate && value.length && displayTemplateValue; else showDefaultValue">
                    <ng-container *ngTemplateOutlet="itemTemplate; context: {
                                                    $implicit: value[0]
                                                }">
                    </ng-container>
                </ng-container>
                <ng-template #showDefaultValue>
                    <div [matTooltip]="tooltip ?? ''"
                         class="display-container text-ellipsis">
                        <span *ngIf="!isFormControl && placeholder"
                              class="display-title"
                              aria-hidden="true">
                            {{ placeholder }}:
                        </span>
                        <ng-container *ngIf="compactSummaryTemplate; else defaultSummary">
                            <ng-template #displayCompactSummaryTemplate
                                         *ngTemplateOutlet="compactSummaryTemplate; context: { $implicit: value }">
                            </ng-template>
                        </ng-container>
                        <ng-template #defaultSummary>
                            <span class="display-value text-label-rendered">{{ computeDisplayValue() }}</span>
                        </ng-template>
                    </div>
                </ng-template>
                <ng-container *ngIf="!readonly">
                    <!-- aria-hidden will override the default from mat-icon -->
                    <ng-container *ngIf="value.length && clearable">
                        <ng-container *ngTemplateOutlet="clearIcon"></ng-container>
                    </ng-container>

                    <mat-icon *ngIf="!value.length || !clearable"
                              class="arrow-down">keyboard_arrow_down</mat-icon>
                </ng-container>
            </div>
        </ng-container>

        <ng-template #chipsTemplate>
            <mat-chip-list #chipList
                           [attr.tabindex]="!disabled && !readonly ? 0 : null"
                           [attr.aria-label]="placeholder"
                           [attr.aria-describedby]="describedBy"
                           [attr.aria-required]="required"
                           [attr.aria-disabled]="disabled || readonly"
                           [attr.aria-expanded]="isOpen"
                           [style.width]="isFormControl ? null : width"
                           [disabled]="disabled"
                           (click)="open()"
                           (focus)="onFocus()"
                           (blur)="onBlur()"
                           (keydown.backspace)="backspaceBehavior()"
                           (keydown.arrowup)="navigate(-1, $event)"
                           (keydown.arrowdown)="navigate(1, $event)"
                           (keyup.enter)="preventDefault($event);"
                           (keydown.enter)="preventDefault($event); isOpen ? setSelectedItem() : open();"
                           (keyup.space)="!isOpen && open();"
                           (keyup.esc)="preventDefault($event); close();"
                           (keydown.esc)="preventDefault($event)"
                           (keydown.tab)="close(false)"
                           (keydown.shift.tab)="close()">
                <mat-chip *ngFor="let option of value; let i = index"
                          [removable]="canRemoveChip(option)"
                          [matTooltip]="intl.translateLabel(option.text)"
                          (removed)="deselectItem(option)"
                          class="chip-selectable">
                    <mat-icon *ngIf="!!option?.icon?.svgIcon"
                              [svgIcon]="option!.icon!.svgIcon!"
                              class="chip-selectable-icon">
                    </mat-icon>
                    <mat-icon *ngIf="!!option?.icon?.matIcon"
                              class="chip-selectable-icon">
                        {{option?.icon?.matIcon}}
                    </mat-icon>
                    <span>
                        {{ intl.translateLabel(option.text) }}
                    </span>
                    <button matChipRemove>
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-chip>

                <ng-container *ngIf="searchable">
                    <input #searchInput
                           [uiAutofocus]="isOpen"
                           [refocus]="isOpen"
                           [placeholder]="(isFormControl && !empty) ? '' : defaultValue"
                           [readonly]="readonly"
                           [formControl]="inputControl"
                           [matChipInputFor]="chipList"
                           [attr.maxlength]="maxLength"
                           [attr.aria-label]="placeholder"
                           selectionLocation="end"
                           autocomplete="off"
                           aria-autocomplete="list"
                           matInput>
                </ng-container>

            </mat-chip-list>
        </ng-template>
    </ng-container>


    <div class="item-list-container-wrapper"
         [class.multi-select]="multiple && !expandInline"
         [style.height]="expandInline ? '100%' : undefined">
        <div [style.width]="isFormControl ? null : width"
             [style.height]="expandInline ? '100%' : undefined"
             [class.item-list-container-state-open]="isOpen"
             [class.item-list-container-state-closed]="!isOpen"
             [class.item-list-container-direction-down]="isDown"
             [class.item-list-container-direction-up]="!isDown"
             [class.item-list-container-expanded-inline]="expandInline"
             [class.searchable]="searchable && !multiple"
             [class.mat-elevation-z4]="!expandInline"
             [uiAutofocus]="!searchable && !multiple"
             [refocus]="isOpen && !multiple"
             [@displayState]="isOpen ? 'open' : 'closed'"
             (keydown.arrowup)="navigate(-1, $event)"
             (keydown.arrowdown)="navigate(1, $event)"
             (keyup.enter)="preventDefault($event);"
             (keydown.enter)="preventDefault($event);
                        setSelectedItem();"
             (keydown.esc)="preventDefault($event)"
             (keyup.esc)="preventDefault($event);
                      close();"
             (keydown.tab)="close(false)"
             (keydown.shift.tab)="close()"
             tabindex="-1"
             class="item-list-container">
            <ng-container *ngIf="!isDown">
                <ng-container *ngTemplateOutlet="searchableCountInfoTmpl"></ng-container>

                <ng-container *ngTemplateOutlet="resultList">
                </ng-container>
            </ng-container>

            <mat-form-field *ngIf="searchable && (!multiple || compact)"
                            floatLabel="never">
                <input #searchInput
                       [placeholder]="isFormControl ? '' : placeholder"
                       [formControl]="inputControl"
                       [uiAutofocus]="isOpen &&
                                  searchable"
                       [attr.maxlength]="maxLength"
                       [refocus]="isOpen"
                       selectionLocation="end"
                       autocomplete="off"
                       aria-autocomplete="list"
                       matInput>

                <mat-icon *ngIf="inDrillDownMode"
                          [matTooltip]="intl.clearSelectionLabel"
                          (keydown.space)="removeSelection($event)"
                          (keydown.enter)="removeSelection($event)"
                          (click)="removeSelection($event)"
                          matSuffix
                          tabindex="0"
                          role="button"
                          aria-hidden="false"
                          class="clear">
                    <svg width="100%"
                         height="100%"
                         viewBox="0 0 20 20"
                         style="color:currentColor;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;">
                        <path d="M6.505 13.498l7-7M13.505 13.5l-7-7"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2.0011213" />
                    </svg>
                </mat-icon>

                <mat-icon *ngIf="!drillDown || !searchInput.value"
                          matSuffix>search</mat-icon>
            </mat-form-field>

            <ng-container *ngIf="isDown">
                <ng-container *ngTemplateOutlet="resultList">
                </ng-container>

                <ng-container *ngTemplateOutlet="searchableCountInfoTmpl"></ng-container>
            </ng-container>

            <ng-template #searchableCountInfoTmpl>
                <mat-list-item *ngIf="items.length &&
                                  (loading$ | async) === false &&
                                  searchableCountInfo?.count === items.length &&
                                  searchable &&
                                  !inputControl.value"
                               [matTooltip]="searchableCountInfo?.message ?? ''"
                               [attr.role]="'option'"
                               matTooltipPosition="right"
                               class="text-ellipsis item-max-count-info-message">
                    <mat-divider *ngIf="isDown"></mat-divider>
                    <mat-icon>info_outline</mat-icon>
                    <span>{{searchableCountInfo?.message}}</span>
                    <mat-divider *ngIf="!isDown"></mat-divider>
                </mat-list-item>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #resultList>
    <mat-list [attr.role]="'listbox'"
              [style.height]="expandInline ? '100%' : undefined">
        <cdk-virtual-scroll-viewport [isDown]="isDown"
                                     [itemSize]="itemSize"
                                     [style.max-height.px]="viewportMaxHeight"
                                     [style.height.px]="expandInline ? viewportMaxHeight : '100vh'"
                                     [minBufferPx]="viewportMaxHeight * 1.2"
                                     [maxBufferPx]="viewportMaxHeight * 1.4"
                                     (rangeLoad)="rangeLoad($event)"
                                     uiVirtualScrollRangeLoader>
            <ng-container *ngTemplateOutlet="customValueTemplate; context: { $implicit: 'down' }">
            </ng-container>

            <ng-container *ngFor="
                            let item of headerItems;
                            let index = index">
                <ng-container *ngTemplateOutlet="
                                defaultItemTemplate;
                                context: {
                                    item,
                                    index,
                                    isActiveIndex: index === activeIndex
                                }">
                </ng-container>
            </ng-container>

            <mat-divider *ngIf="headerItems!.length && !hasNoResults"></mat-divider>

            <ng-container *cdkVirtualFor="
                            let item of renderItems;
                            let index = index;
                            trackBy: trackById;
                            templateCacheSize: disableTooltip ? 20 : 0">
                <ng-container *ngTemplateOutlet="
                              defaultItemTemplate;
                              context: {
                                  item,
                                  index,
                                  isActiveIndex: computedItemsOffset(index) === activeIndex
                                }">
                </ng-container>
            </ng-container>

            <ng-container *ngTemplateOutlet="customValueTemplate; context: { $implicit: 'up' }">
            </ng-container>

            <mat-list-item *ngIf="loading$ | async"
                           [style.height.px]="itemSize">
                <mat-progress-spinner color="primary"
                                      mode="indeterminate"
                                      diameter="20"
                                      strokeWidth="2">
                </mat-progress-spinner>
            </mat-list-item>

            <ng-container *ngLet="(
                inputControl.value.length < minChars
                    ? intl.minCharsLength(minChars)
                    : intl.noResultsLabel
            ) as label">
                <mat-list-item *ngIf="hasNoResults &&
                                  !isCustomValueVisible &&
                                  !headerItems!.length &&
                                  (loading$ | async) === false"
                               [matTooltip]="label"
                               [attr.role]="'option'"
                               matTooltipPosition="right"
                               class="text-ellipsis no-results-text">
                    {{label}}
                </mat-list-item>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </mat-list>
</ng-template>

<ng-template #customValueTemplate
             let-renderDirection>
    <ng-container *ngLet="isCustomValueAlreadySelected
             ? intl.customValueAlreadySelected
             : customValueLabelTranslator(inputControl.value) as customValueText">
        <mat-list-item *ngIf="isCustomValueVisible && direction === renderDirection"
                       [class.active]="(renderDirection === 'down' ? -1 : items.length) === activeIndex"
                       [class.custom-value-template]="itemTemplate && applyItemTemplateToCustomValue"
                       [matTooltip]="customValueText"
                       [style.height.px]="itemSize"
                       (click)="preventDefault($event); updateValue(inputControl.value, !multiple, true);"
                       [attr.role]="'option'"
                       matTooltipPosition="right"
                       class="text-ellipsis custom-item">
            <ng-container *ngTemplateOutlet="itemTemplate && applyItemTemplateToCustomValue ? itemTemplate : defaultCustomValueTemplate; context: {
                    $implicit: customValueText,
                    isCustomValue: true,
                    isCustomValueAlreadySelected
                }">
            </ng-container>

            <ng-template #defaultCustomValueTemplate
                         let-customValueText>
                <div class="text-label text-ellipsis">
                    <mat-icon *ngIf="!isCustomValueAlreadySelected">add</mat-icon>
                    <span class="text-label-rendered">{{ customValueText }}</span>
                </div>
            </ng-template>
        </mat-list-item>
    </ng-container>
</ng-template>

<ng-template #clearIcon>
    <mat-icon [matTooltip]="intl.clearSelectionLabel"
              (keydown.space)="removeSelection($event)"
              (keydown.enter)="removeSelection($event)"
              (click)="removeSelection($event)"
              tabindex="0"
              role="button"
              aria-hidden="false"
              class="clear">
        <svg width="100%"
             height="100%"
             viewBox="0 0 20 20"
             style="color:currentColor;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;">
            <path d="M6.505 13.498l7-7M13.505 13.5l-7-7"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2.0011213" />
        </svg>
    </mat-icon>
</ng-template>

<ng-template #defaultItemTemplate
             let-item="item"
             let-index="index"
             let-isActiveIndex="isActiveIndex">
    <mat-list-item *ngLet="drillDown && !!item?.expandable as itemExpandable"
                   [class.active]="isActiveIndex"
                   [class.is-loading]="item.loading !== VirtualScrollItemStatus.loaded"
                   [class.readonly]="item.loading !== VirtualScrollItemStatus.loaded"
                   [class.selected]="!!item &&
                                                !multiple &&
                                                isItemSelected(item)"
                   [class.is-expandable]="itemExpandable"
                   [class.disabled]="item.disabled"
                   [style.height.px]="!!item ? itemSize : 0"
                   [disabled]="item.disabled"
                   (click)="preventDefault($event);
                                        updateValue(item, !multiple, true);"
                   [attr.role]="'option'"
                   matRipple>
        <ng-container *ngIf="!!item">
            <ng-container *ngIf="itemTemplate; else defaultItem">
                <ng-container *ngTemplateOutlet="itemTemplate; context: {
                                                                $implicit: item
                                                            }">
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #defaultItem>
            <div [matTooltip]="disableTooltip ? '' : intl.translateLabel(item.text)"
                 [attr.data-item-id]="item.id"
                 matTooltipPosition="right"
                 class="ui-suggest-item">
                <mat-checkbox *ngIf="multiple"
                              [disabled]="item.disabled"
                              [checked]="isItemSelected(item)"
                              [indeterminate]="false">
                </mat-checkbox>
                <div [attr.aria-label]="intl.translateLabel(item.text)"
                     class="text-label text-ellipsis"
                     tabindex="-1">
                    <mat-icon *ngIf="!!item?.icon?.svgIcon"
                              [svgIcon]="item!.icon!.svgIcon!"></mat-icon>
                    <mat-icon *ngIf="!!item?.icon?.matIcon">{{item?.icon?.matIcon}}</mat-icon>
                    <span class="text-label-rendered">{{ item?.icon?.iconOnly ? null :
                        intl.translateLabel(item.text) }}</span>
                </div>
                <mat-icon *ngIf="itemExpandable"
                          class="expand-icon">chevron_right</mat-icon>
            </div>
        </ng-template>
    </mat-list-item>
</ng-template>
