ui-grid-search {
    mat-form-field {
        width: 140px;
        .mat-mdc-form-field-flex {
            .mat-mdc-form-field-infix {
                display: flex;
            }
        }
    }

    .ui-grid-search-cancel {
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
