$light-gray: rgb(234, 238, 240);
$dark-gray: rgb(51, 51, 51);
$red: rgb(207, 41, 41);
$dark-orange: rgb(255, 99, 37);
$green: rgb(124, 199, 108);

$default-success: (
    "text": $light-gray,
    "background": mix($green, $dark-gray, 80),
);
$default-warning: (
    "text": $light-gray,
    "background": mix($dark-orange, $dark-gray, 80),
);
$default-error: (
    "text": $light-gray,
    "background": mix($red, $dark-gray, 80),
);
$default-info: (
    "text": null,
    "background": null,
);
$default-snackbar-theme: (
    "success": $default-success,
    "warning": $default-warning,
    "error": $default-error,
    "info": $default-info,
);

@mixin ui-snackbar-theme($theme, $snackbar-theme) {
    @if $snackbar-theme == null {
        $snackbar-theme: $default-snackbar-theme;
    }

    $success: map-get($snackbar-theme, "success");
    $warning: map-get($snackbar-theme, "warning");
    $error: map-get($snackbar-theme, "error");
    $info: map-get($snackbar-theme, "info");

    $success-text-color: map-get($success, "text");
    $success-background-color: map-get($success, "background");
    $success-icon-color: map-get($success, "icon-color");
    $warning-text-color: map-get($warning, "text");
    $warning-background-color: map-get($warning, "background");
    $warning-icon-color: map-get($warning, "icon-color");
    $error-text-color: map-get($error, "text");
    $error-background-color: map-get($error, "background");
    $error-icon-color: map-get($error, "icon-color");
    $info-text-color: map-get($info, "text");
    $info-background-color: map-get($info, "background");
    $info-icon-color: map-get($info, "icon-color");

    .ui-snackbar {
        &-success {
            --snackbar-text-color: #{$success-text-color};
            --snackbar-background-color: #{$success-background-color};
            --snackbar-icon-color: #{$success-icon-color};
        }

        &-warning {
            --snackbar-text-color: #{$warning-text-color};
            --snackbar-background-color: #{$warning-background-color};
            --snackbar-icon-color: #{$warning-icon-color};
        }

        &-error {
            --snackbar-text-color: #{$error-text-color};
            --snackbar-background-color: #{$error-background-color};
            --snackbar-icon-color: #{$error-icon-color};
        }

        &-info {
            --snackbar-text-color: #{$info-text-color};
            --snackbar-background-color: #{$info-background-color};
            --snackbar-icon-color: #{$info-icon-color};
        }

        &-dismiss {
            .mat-mdc-icon-button:hover {
                color: inherit !important;
            }
        }
    }
}
