@mixin ui-password-indicator-theme($theme) {
  $foreground: map-get($theme, "foreground");
  $background: map-get($theme, "background");
  $warn: map-get($theme, "warn");
  $primary: map-get($theme, "primary");

  $warn-color: mat-color($warn);
  $warn-color-light: mat-color($warn, lighter);

  $primary-color: mat-color($primary);
  $disabled-color: mat-color($foreground, "disabled-text");
  $background-color: mat-color($background, "background");

  .mat-form-field.mat-form-field-invalid {
    ui-password-indicator {
      .mat-progress-bar-background {
        fill: $warn-color-light;
      }

      .mat-progress-bar-buffer {
        background-color: $warn-color-light;
      }

      .mat-progress-bar-fill::after {
        background-color: $warn-color;
      }

      .mat-list {
        .mat-list-item {
          &.ui-password-rule-invalid {
            color: $warn-color;
          }
        }
      }
    }
  }

  ui-password-indicator {
    .ui-password-progress-container {
      border-top-color: $background-color;
      border-bottom-color: $background-color;
    }

    .mat-list {
      .mat-list-item {
        &.ui-password-rule-invalid {
          mat-icon {
            color: $warn-color;
          }
        }

        &.ui-password-rule-valid {
          color: $disabled-color;
          mat-icon {
            color: $primary-color;
          }
        }
      }
    }
  }
}
