$progress-height: 1px;
$progress-top: 30px;

ui-password-indicator {
  display: block;
  position: absolute;
  width: 100%;
  top: $progress-top;
  z-index: 1;

  .ui-password-progress-container {
    /* Hide leaking glow from mat-form-field-underline */
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;

    .mat-progress-bar {
      height: $progress-height;
    }
  }

  .mat-list {
    padding-top: 0;
    display: inline-flex;

    $font-size: 75%;

    .mat-list-item {
      &.mat-2-line {
        height: $font-size;
      }

      .mat-list-text {
        flex-direction: row;
        align-items: center;

        .ui-password-rule-label {
          font-size: $font-size;
        }

        mat-icon {
          /* Force Font Smoothing (small sizes of icon fonts get edgy 😢) */
          transform: rotate(0.03deg);
          font-size: $font-size;
          width: $font-size;
          height: $font-size;
          line-height: $font-size;
          margin-right: 2px;
        }
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      .mat-list-item-content {
        padding: 0;
      }
    }
  }
}

.mat-form-field {
  &.mat-focused {
    ui-password-indicator {
      top: $progress-top - 1px;

      .ui-password-progress-container {
        .mat-progress-bar {
          height: $progress-height + 1px;
        }
      }
    }
  }
}
