.tree-item-container {
  height: 100%;

  .mdc-list-item__primary-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@mixin perLevelPadding($level, $padding) {
  .node-level-#{$level} {
      &:not(.node-type-leaf) {
          padding-left: calc($padding * $level);
      }

      &.node-type-leaf {
          padding-left: calc($padding + max($padding, calc($padding * ($level + 1))));
      }
  }
}

.tree-container {
  @for $i from 0 through 7 {
      @include perLevelPadding($i, var(--ui-tree-select-item-padding));
  }
}
