ui-button-progress-bar {
    display: block;
    width: 100%;

    .mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.ui-button-progress {
    overflow: hidden;
}
